[2017-01-12 01:03] Collisionc commented on #3307
This has been resolved as of the newest nightlies.  Let us know if you have any other problems.

Downloads: http://downloads.simulationcraft.org/?C=M;O=D

[2017-01-12 01:03] #3307 closed, assigned to nobody

[2017-01-12 01:07] Collisionc commented on #3279
This on AMR's end, they've changed how that part of their site works and I doubt we'll be able to interface with it since they would rather you use their simulator. =\

[2017-01-12 01:11] Collisionc commented on #3279
I removed the link from the report as it's useless.

[2017-01-12 01:12] #3289 closed, assigned to gixxpunk

[2017-01-12 01:50] Collisionc commented on #3299
Added.

[2017-01-12 01:50] #3299 closed, assigned to Collisionc

[2017-01-12 01:54] Collisionc commented on #3272
Closing as this has been implemented.

[2017-01-12 01:54] #3272 closed, assigned to Frostedmages

[2017-01-12 01:55] #3216 closed, assigned to nobody

[2017-01-12 01:56] Collisionc commented on #3314
Yeah, this should be fixed in nightly downloads.
http://downloads.simulationcraft.org/?C=M;O=D

[2017-01-12 01:56] #3314 closed, assigned to nobody

[2017-01-12 01:58] Collisionc commented on #3322
Should be resolved now, the original problem was fixed, the action list just wasn't updated to reflect it.

[2017-01-12 01:58] #3322 closed, assigned to nobody

[2017-01-12 02:03] Collisionc commented on #3352
@ender444 Simulationcraft is crashing due to LavasoftTcpService64.dll - Which seems to be some sort of malware.

https://toolslib.net/downloads/viewdownload/1-adwcleaner/

Adwcleaner should take care of it, make sure to restart your computer after the program has run.

@Imfiredup try ADWcleaner as well, just in case.

[2017-01-12 02:11] #3326 closed, assigned to nobody

[2017-01-12 02:23] Collisionc commented on #3185
Hotfixed it so that the spell will now be usable at level 57.

[2017-01-12 02:23] Collisionc commented on #3186
Is this still a concern?

[2017-01-12 02:24] #3174 closed, assigned to nobody

[2017-01-12 02:24] #3173 closed, assigned to nobody

[2017-01-12 02:24] #3168 closed, assigned to nobody

[2017-01-12 02:27] #3156 closed, assigned to nobody

[2017-01-12 02:28] Collisionc commented on #3155
Maximizing the window should fix that. We'll adjust it in the future so that it works in a smaller window, but it's a low priority for now.

[2017-01-12 02:28] #3155 closed, assigned to nobody

[2017-01-12 02:28] #3143 closed, assigned to nobody

[2017-01-12 02:29] #3096 closed, assigned to nobody

[2017-01-12 02:30] Collisionc commented on #3048
I think these are fixed, but please let me know if they aren't.

[2017-01-12 02:30] #3048 closed, assigned to nobody

[2017-01-12 02:30] #3149 closed, assigned to nobody

[2017-01-12 02:32] Collisionc commented on #2922
It's slowly getting added for most specs.

[2017-01-12 03:09] Collisionc commented on #2922
Ok, added.

[2017-01-12 03:18] Collisionc commented on #2784
I believe this has been finally added.

[2017-01-12 03:18] #2784 closed, assigned to Kennyloggins

[2017-01-12 03:35] Krimsun commented on #2922
A Warlocks Infernal can proc the ring like the DKs pet, with Meteor Strike, which has a 1 minute cooldown. Not sure how this compares to the Doomguard, or other Grimoires even, but would be interesting to check on it, please.

[2017-01-12 04:26] Dexterjones opened #3366 "Cant simulate my character. not even once."
Please include a brief overview of the issue in the title above, as well as completing the following:

**Simulationcraft Version** 7.1.5

 **If Simulationcraft is crashing, please include your dxdiag**

#### simc_gui.simc file or contents
Cant as i  cannot sim 1 character at all.

#### Reproduction Steps:

Im trying to simulate my character, but it never works.
it works on other computers not mine

[2017-01-12 08:36] Collisionc commented on #3366
See the first option here - https://github.com/simulationcraft/simc/wiki/CommonIssues

Your dxdiag shows LavasoftTcpService64.dll crashing Simulationcraft, and if you lookup that file on google - https://www.google.com/search?q=LavasoftTcpService64.dll&oq=LavasoftTcpService64.dll - there are numerous threads of people trying to remove it as it is a malicious program.

ADWCleaner seems to get rid o

[2017-01-12 08:36] Collisionc commented on #3362
Ok, added, thanks!

[2017-01-12 08:37] #3362 closed, assigned to Collisionc

[2017-01-12 08:43] Collisionc commented on #3344
Ok, I made a slight mistake with my haste calculations that I fixed here - https://github.com/simulationcraft/simc/commit/2724259b9e6129597af6aa180365166d754c5b5e

Basically it was doing this -
2 - 0.8 = 1.2 = 20% haste

When it needed to be doing this -
1 / 0.8 - 1 = 25% haste

Bit of a difference, especially with higher haste values. >_>  That might be enough to force the moonkin to reapply dots

[2017-01-12 08:44] #3363 closed, assigned to Collisionc

[2017-01-12 08:45] #3199 closed, assigned to Collisionc

[2017-01-12 08:45] Collisionc commented on #3209
Is this still the case with the recent changes to the helm?

[2017-01-12 09:23] Dexterjones commented on #3366
Thanks! it worked!

2017-01-12 9:36 GMT+01:00 Alex <notifications@github.com>:

[2017-01-12 10:00] Collisionc commented on #3366
Glad to hear it!

[2017-01-12 10:00] #3366 closed, assigned to Collisionc

[2017-01-12 10:01] vituscze commented on #3186
It is, Ray of Frost + Thermal Void is still doing much better in SimC than in the actual game.

[2017-01-12 11:38] vituscze commented on #3185
The hotfix sadly doesn't work, when dbc.spell grabs it, it still has level() == 81.

[2017-01-12 12:08] vituscze opened #3367 "Player distance broken"
Spells with travel time impact instantly, it looks like player_t::get_player_distance returns zero even for casters/actors with distance=x.

[2017-01-12 12:12] vituscze commented on #3367
Profile used:

[code]

Log with 715-01:
[code]

Log with 1646e8bf1227fe78fc35c75be1aa37fc0100e41b :

[code]

[2017-01-12 13:55] Slippykins commented on #3209
Yes, the helm rotation is consistent with pre-7.1.5. Only the duration of Starsurge-weaving was altered.

[2017-01-12 14:19] Collisionc commented on #3367
Thanks, it's related to a change I put in last night to simplify some code. current.distance doesn't seem to do what I thought it would do.

[2017-01-12 14:20] Collisionc commented on #3185
I'll check it out today.

[2017-01-12 14:21] Collisionc commented on #3365
I'll try and add it in before we release 7.1.5 officially.

[2017-01-12 14:28] Collisionc commented on #3367
https://github.com/simulationcraft/simc/commit/3ac91c12fb4ad37a9c5edf4310d5644ef6c71894 for reference

[2017-01-12 14:57] Ragatokk commented on #3275
Thanks allot for giving me this, super simple to change values and add enemies once you get it to work :)

[2017-01-12 15:24] Ragatokk opened #3368 "Prot Warrior: Devastator and vengeance talents"
The devastator talent seems to just add its damage to auto_attack_mh

I got some weird results trying to sim with the vengeance talent, it resulted in haste simming negative on dtps: http://i.imgur.com/XKvMjxh.png

Also thunderclap should be added to the single target dps rotation when you have chosen devastator.

What I simmed:
http://pastebin.com/jMRK1un2

[2017-01-12 16:29] qopec opened #3369 "[Destruction warlock] talents not updated to 7.1.5"
Hello,
after patch 7.1.5 were swapped talents eradiction and cataclysm and mana tap was replaced by emprovered life tap. In Simc I can see old talents atm, so for destros is Simc quite inaccurate.

[2017-01-12 18:39] Collisionc commented on #3368
Yeah that was a 4 AM addition last night, I need to look over it and see what I need to fix.

[2017-01-12 19:58] yellowsix commented on #3279
Yeah this is something that Theck added a while back I believe -- since updating for Legion that link format and related behavior isn't supported/relevant on AMR anymore, so it is safe to remove it.

[2017-01-12 22:57] Meatwookie opened #3370 "[SV Hunter] Implement Ranger's Net"
Ranger's Net is not implemented into SimC right now,
but its the Spell SV Hunters can use to trigger Sephuz on Raid-Bosses

[2017-01-12 23:18] Bloodmallet opened #3371 "Mark of the distant army wrong damage"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version

SimulationCraft 715-01
for World of Warcraft 7.1.5 Live (wow build level 23360)
pulled from github and build on my own

#### Reproduction Steps:
After using the simulationcraft addon to export my char i observered mark of the distant army dealing less than half the d

[2017-01-12 23:50] Collisionc commented on #3370
Last I checked it was working on nightly builds. http://downloads.simulationcraft.org/?C=M;O=D - top downloads are most recent

[2017-01-13 00:00] Collisionc commented on #3367
Just a stopgap until I do some extra stuff, should work fine.

[2017-01-13 00:14] Meatwookie commented on #3370
oh ye was jsut me using another 7.1.5 build

[2017-01-13 00:16] Meatwookie commented on #3370
it is in the build, however it's not using it at all

[2017-01-13 00:48] Jayezi commented on #3370
It's using the apl you proposed which does not include it. Do you have a suggestion for where it should be placed in the priority? actions+=/rangers_net,line_cd=30 will trigger the ring on cooldown, if you want to play with it or I can use whatever priority Effin used for it to make his sims, but I personally have no idea since I have hardly looked with anything SV this expansion.

[2017-01-13 01:36] thepaan opened #3372 "[Frost Mage] Glacial Spike talent selected but results show icicle damage in pie chart"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version: simc-715-01-win64-71a27db

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-Files

#### simc_gui.simc file or contents

### Begin GUI options ###
item_db_source=local/

[2017-01-13 01:39] Meatwookie commented on #3370
ye i fixed it now,
wasnt specced into ranger's net

im dumb

[2017-01-13 01:39] #3370 closed, assigned to nobody

[2017-01-13 01:45] thepaan opened #3373 "[Frost Mage] No AG, Blizzard shown as damage source on single target sim"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version simc-715-01-win64-71a27db

#### simc_gui.simc file or contents

### Begin GUI options ###
item_db_source=local/bcpapi/wowhead
target_error=0
iterations=100000
default_world_lag=0.20
max_time=300
vary_combat_length=0.2
fight_style=HeavyMovement
tmi_window_global=6
targ

[2017-01-13 04:51] Slippykins commented on #3209
An updated ED APL is provided below, courtesy of Jundarer. It performs better than the one suggested above, but is much more complex.

actions.ed=astral_communion,if=astral_power.deficit>=75&buff.the_emerald_dreamcatcher.up
actions.ed+=/incarnation,if=astral_power>=85&!buff.the_emerald_dreamcatcher.up|buff.bloodlust.up
actions.ed+=/celestial_alignment,if=astral_power>=85&!buff.the_emerald_dreamcat

[2017-01-13 07:47] staal commented on #3367
Tested nightly "fb226b4" which according to https://github.com/simulationcraft/simc/commits/legion-dev should contain this fix.

Don't think this works. Get the same output as above. Also tested Mage_Frost_T19M_NH with the following prepended:

Output is similar, still no travel time:

[2017-01-13 08:31] Collisionc commented on #3367
Whoops

https://github.com/simulationcraft/simc/commit/a0a938567f9ce19a8eb95699ef0970d68b01f4da

Was calculating the travel time for frostbolt to go from the target... back to the target.  I'll upload a new version in 10~ minutes or so.

[2017-01-13 08:34] pprocess1 opened #3374 "MAC OS X Version please"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-Files

#### simc_gui.simc file or contents
This file is saved in the same folder as the program after each simulation.

[2017-01-13 08:34] Collisionc commented on #3356
Done and done.

[2017-01-13 08:34] #3356 closed, assigned to Collisionc

[2017-01-13 08:34] pprocess1 commented on #3374
PLease create a new Mac os x version, the other version is waaay ahaead of ours. Thank you!

[2017-01-13 08:34] #3367 closed, assigned to Collisionc

[2017-01-13 10:51] Bloodmallet commented on #3371
Oh right....the damage of distant army depends on spellpower for elemental (unequiping the weapon reduced the damage to ~13k ticks). But those variing numbers don't let me get an accurate % :(

[2017-01-13 11:27] vituscze commented on #3373
Probably caused by player skill being set to Good.

[2017-01-13 11:30] vituscze commented on #3372
If you are at 4 Icicles, cast Frostbolt and Ice Nine procs, one of the Icicles gets released, so this is expected.

[2017-01-13 14:07] Meatwookie opened #3376 "[SV Hunter] Explosive Trap Travel Time"
As of Patch 7.1.5 ExplT is no longer dropped infront of you, but you can throw it up to 40 yards,
That makes it "precast" worthy.
I would request to add that Travel time

[2017-01-14 02:10] Crelam opened #3377 "cruel_garrote dot debuff should be affected by haste"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version
 7.1.5 Live (wow build level 23360, git build fb226b4)
#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-Files

#### simc_gui.simc file or contents
This file is saved in

[2017-01-14 02:21] jmaster299 opened #3378 "MM wrong Action Priority List"
710-3 Simulationcraft Version

Incorrect Action Priority List for Marksman Hunters when not using Sidewinders as a talent. Correct priority is 1-2 targets we only cast Arcane Shot, never Multi Shot. Multi Shot is only ever used when there are 3 or more targets. Yet all sims, including Patchwerk with default settings, is prioritizing Multi Shot. About 170+ per sim, with 5-10 Arcane Shots mixed in.

[2017-01-14 03:20] Jayezi commented on #3378
Whoever copied the list into the code a long time ago had a copy-paste error that gave multishot the wrong priority.
That version is for last patch and useless anyway, don't use it.

[2017-01-14 03:37] jmaster299 commented on #3378
Can not sim with 7.1.5 PTR version either as SimC crashes every time I try. Does this mean the next version, whenever that gets released, will have the correct priority?

Edit:

Just simmed with the 715-01 version from the "nightly builds" that was uploaded earlier today (13 January). The priority list is better, but still wrong. For a Patchwerk single target fight, it still has an average 8 casts

[2017-01-14 04:02] Jayezi commented on #3378
Definitely not happening on default 715 profile.

![apl](https://cloud.githubusercontent.com/assets/4423285/21952155/a0562556-d9da-11e6-81ce-9a4f43537889.jpg)

I'm betting the same profile persisted between installs since it's saved in user data, import a new profile.

[2017-01-14 04:17] jmaster299 commented on #3378
Yes, it is. At least for the newest one available for download from what looks like 9am today.
![ms](https://cloud.githubusercontent.com/assets/25113065/21952318/3b7da10c-d9cd-11e6-99e1-2a61c259eabc.png)

And yes I did a fresh import. Again, it's much better, Arcane has priority now, but Multi Shot is still being cast. Not much, but it is being cast.

[2017-01-14 04:56] Jayezi commented on #3378
Post the profile you're using.

[2017-01-14 05:39] jmaster299 commented on #3378
I've figured out the problem, and yes it's still a problem that should be fixed. It's a difference between using the "Elite" setting vs the "Good" setting. I sim using the "Good" setting because it's a more realistic outcome, usually. 99.9% of players aren't executing their rotation like a computer simulation can.

But there is no reason for the "Good" profile to be casting an incorrect spell seve

[2017-01-14 09:06] thepaan commented on #3373
The player skill being set to good should not mean a random spell outside the rotation is used...

[2017-01-14 10:14] #3376 closed, assigned to nuoHep

[2017-01-14 11:21] Terrivar opened #3382 "Frost DK Action Priority list"
i was playing around with the BoS spec a bit and i noticed that it was droping the buff way to early by using frost strike when it was not needed also HRW wasnt getting used at the right time, changing the list so it looks like on the pictures solved the issiue
if somebody could implement that into the simc build it would be great cause it have no idea how to :)

[http://imgur.com/a/Keoqe](url)
[h

[2017-01-14 13:56] gixxpunk commented on #3382
https://github.com/simulationcraft/simc/commit/17284edc6bbbadf52e502fdcdf7352f233dceeb2

[2017-01-14 13:56] #3382 closed, assigned to nobody

[2017-01-14 13:58] HuckFroppi opened #3383 "Cannot import my character."
Hello,

I cannot import my character from battle.net. I just got the new legendary trinket Kil'jaeden's Burning Wish, and it seems there is a problem with it when I try to import it, this is what is says :

Profile will be downloaded into a new tab.

Clicking Simulate will create a simc_gui.simc profile for review.

Unable to generate profile from: http://eu.battle.net/wow/en/character/suramar/Huc

[2017-01-14 16:02] Hemario opened #3384 "[Monk WW] Possible typo in APL"
https://github.com/simulationcraft/simc/blob/legion-dev/profiles/Tier19P/Monk_Windwalker_T19P.simc

Line 29 has a condition `cooldowntarget.time_to_die<=25`.
Is this a correct target? If so, who is meant by that target?

`actions+=/call_action_list,name=sef,if=!talent.serenity.enabled&equipped.drinking_horn_cover&((cooldown.fists_of_fury.remains<=1&chi>=3)|buff.storm_earth_and_fire.up|cooldown.sto

[2017-01-14 16:16] Collisionc commented on #3186
Do they both last 10 seconds no matter what, or will more haste lead to the same amount of ticks, just in a shorter period ?

[2017-01-14 16:55] vituscze commented on #3186
Ray of Frost always lasts 10 seconds. You can think of it as a 10 sec DoT that you have to channel to maintain.

[2017-01-14 17:51] Hinalover commented on #3384
This was just a bad copy and paste, I'll get this fixed.

[2017-01-14 17:53] Collisionc commented on #3186
Ok, will be fixed in the next release... make sure to check it to make sure it's not doing anything odd, as this isn't something that we've ever had in the simulation.

[2017-01-14 17:53] #3186 closed, assigned to Collisionc, Frostedmages

[2017-01-14 17:54] Collisionc commented on #3383
Use the "beta" 715-01 versions listed at the top here - http://downloads.simulationcraft.org/?C=M;O=D

We'll do an official release sometime in the next few days.

[2017-01-14 17:54] #3383 closed, assigned to nobody

[2017-01-14 17:57] #3384 closed, assigned to nobody

[2017-01-14 17:57] Hinalover commented on #3384
Fixed in https://github.com/simulationcraft/simc/commit/38d13d8c6a98b60b339b2bdd7c384b6cc977b6a4

[2017-01-14 17:58] Collisionc commented on #3186
http://downloads.simulationcraft.org/?C=M;O=D uploaded version with this in it

[2017-01-14 18:36] Collisionc commented on #3076
Fixed both.

[2017-01-14 18:36] #3076 closed, assigned to Collisionc

[2017-01-14 18:36] Collisionc commented on #3377
Got it, thanks.

[2017-01-14 18:36] #3377 closed, assigned to Collisionc

[2017-01-14 18:44] bobkat2000 opened #3386 "Lvl 60 Prot Paladin - Sim cancelled after 1 iteration"
Last time I ran simulation on this char was on lvl 40 with v710-02 (and it was successful).  Now at lvl 60, I upgraded to 710-03 and tried, but got:

Player Bobkitty could not find spell data for action blinding_light_effect
Simulation has been canceled after 1 iterations! (thread=0)

Tried upgrading to 715-01 (latest 64-bit EXE from repository, and yes I'm on Win 10 64-bit OS) and same error.

si

[2017-01-14 18:48] #3372 closed, assigned to nobody

[2017-01-14 18:51] Collisionc commented on #3373
This is how the player skill system works. We have false positive (use an ability when you shouldn't) and false negative (don't use the ability when you should) rolls, and false positives cause this.

However, Blizzard should probably be blacklisted from being used accidentally, since it's channeled and requires clicking the ground.

[2017-01-14 18:52] Collisionc commented on #3373
Fixed so blizzard cannot be accidentally used.

[2017-01-14 18:52] vituscze commented on #3373
We actually removed the blacklist in some commit because Blizzard is casted and with the new 7.1 [@cursor] macros, it's possible it could be cast by mistake.

[2017-01-14 18:52] Collisionc commented on #3373
oh, well, it probably shouldn't have a full channel at the very least.

[2017-01-14 18:54] vituscze commented on #3373
There is no channel anymore, you either cast it or don't. It works kinda like Rain of Fire before they made it instant.

[2017-01-14 18:55] Collisionc commented on #3373
Ooohhh. I'm so out of touch with mage. Ok, I'll revert.

[2017-01-14 18:57] vituscze commented on #3373
I mean, it's probably fine either way.

[2017-01-14 18:57] Collisionc commented on #3373
Would you say it's less likely to be used accidentally than other spells? I can set it so that the false positive chance is half what it normally is for only blizzard.

[2017-01-14 19:02] vituscze commented on #3373
That's hard to say, really. I checked other similar spells (Flamestrike, Rain of Fire, Earthquake) and none of them have ignore_false_positive set to true.

[2017-01-14 19:05] Collisionc commented on #3371
I think it's due to the velocity. It's set to 1 yard per second for some reason, which is doing odd things on ranged classes.

[2017-01-14 19:08] Collisionc commented on #3373
That's just because we haven't considered doing this before. :)

[2017-01-14 19:10] vituscze commented on #3373
Before 7.1 I'd say yes, because you have to click twice. After the cursor macro condition, it's not really all that clear. But yeah, it needs a macro before you can mess it up, half of what it normally is sounds fair.

[2017-01-14 19:10] Collisionc commented on #3371
Ok, should be fixed now.

[2017-01-14 19:10] #3371 closed, assigned to Collisionc

[2017-01-14 19:18] #3373 closed, assigned to Collisionc

[2017-01-14 19:28] vituscze commented on #3186
So far it looks like it's working as expected, I'll let you know if I come across anything unusual.

[2017-01-14 21:01] seriallos opened #3390 "Feral Druid Crash, maybe related to serpentrix trinket"
Crash is happening on Raidbots (Linux CLI execution).

#### Simulationcraft Version

Git hash: 38d13d8c6a98b60b339b2bdd7c384b6cc977b6a4

#### simc_gui.simc file or contents

https://raidbots.com/simbot/report/Bki-eMOLe

The most out of the ordinary feature is this line in the output:

`Kanye spawn_of_serpentrix could not spawn a pet, increase the count`

[code]

Simc CLI output:

[code]

[2017-01-14 22:08] NicolasMuzette opened #3391 "Rogue Outlaw stats weights"
#### Simulationcraft Version  =>715-01

Hi everyone. First time i use Girhub ^^'

I've used the last version of simcraft to calculate my stats weights as rogue outlaw with my character, using "Scaling" ... and it gives me :
                        Agi	          Vers	 Haste	Crit	     Mastery
Scale Factors	17.16	11.56	10.89	10.48	8.33

I don't get it. Why does Vers>Crit ? because for dps, 1%crit ~=

[2017-01-14 22:14] NicolasMuzette commented on #3218
404 :/

[2017-01-14 23:08] Collisionc commented on #3390
Kanye : 2081670811329942 dps, 346864762502330 dps to main target

It's hitting the limits of our statistics module, going into infinity.

Something with swipe isn't working correctly, I'll figure it out.

[2017-01-14 23:53] Collisionc commented on #3390
That should stop swipe/thrash from doing infinite damage.

[2017-01-14 23:53] #3390 closed, assigned to nobody

[2017-01-15 00:33] ZeratuleTheExalted commented on #3391
Though I'd have to simulate your character in comparison, the reason any stat will become higher than others in scaling factor is if you have too much/too little of a particular stat. Technically speaking, you could have a character with 10,000 crit, and only 3,000 of each of your other stats. If you were to do this, the value of critical strike would deprecate dramatically in comparison to the ot

[2017-01-15 00:55] Collisionc commented on #3209
Allright, added. Thanks !

[2017-01-15 00:55] #3209 closed, assigned to Collisionc

[2017-01-15 00:55] Traker2 opened #3392 "PC often crashes during Sim."
My PC often crashes during a simulation. It had seemed that closing all other programs before running the Sim would help ensure its completion without crashing. Today I have tried this multiple times and my PC crashes on each attempt. This has also happened with previous SimC versions.
  #### Simulationcraft Version
715_01
#### If Simulationcraft is crashing, please include your dxdiag file - Inst

[2017-01-15 00:57] Collisionc commented on #3245
Closing as blizzard fixed a bug with rppm in 7.1.5 that led to this issue. The rppm has already been fixed in simc.

[2017-01-15 00:57] #3245 closed, assigned to Frostedmages

[2017-01-15 01:08] Collisionc commented on #3392
If the computer is blue screening or abruptly restarting during the simulation AND the crashes aren't consistent, it's likely either failing memory, the cpu is not getting enough voltage, or your cpu is overheating due to a cooling system that has somehow broken.

Simc is the most stressful program you can run on a computer outside of cpu benchmarks and prime95, and can expose problems with the st

[2017-01-15 01:11] #3352 closed, assigned to nobody

[2017-01-15 01:11] #3361 closed, assigned to nobody

[2017-01-15 01:12] #3340 closed, assigned to nobody

[2017-01-15 01:15] Collisionc commented on #3185
This is going to be outside my paygrade, one of the methods we use for checking spelldata is not using hotfix data to determine whether or not the character can use a spell. The hotfix I put in works in other circumstances.

I can probably put together a hacky solution to make it work at lower levels, but it will be a fairly low priority.

[2017-01-15 01:22] Traker2 commented on #3392
Hello and thank you. What happens is my screen goes black and the PC simple powers off.  I do not get a blue screen or any real warning it's going to happen. I have not seen any high cpu temp warnings going off during the sim, though I could try another while actively monitoring my cpu temps. I have considered whether I am possibly running out of RAM, I use 8gb which these days seem to not be enou

[2017-01-15 01:47] Collisionc commented on #3246
I looked over the code and it appears this was fixed as I don't see anything that would cause it.

[2017-01-15 01:47] #3246 closed, assigned to nobody

[2017-01-15 02:14] Collisionc commented on #3392
Yeah, that definitely sounds like failing memory if you've already checked temperatures/voltage. Sometimes Windows doesn't put up a blue screen when it crashes as well.

The amount of memory is not important, as simc will just save information to the pagefile if it runs out of memory.

[2017-01-15 02:21] ManagerWoW commented on #3310
Adding to the list:

Face Palm is a 200% mod, not 300%.
Niuzao should have a 2s attack speed, not 1.5s
Blackout Combo crashes Simc instantly

[2017-01-15 03:11] Collisionc commented on #3368
So... this is kind of interesting. Adding haste is increasing your damage taken per second because abilities are being used slightly sooner than they were previously, shifting where damage is taken time-wise in such a way that it leads to spell reflection being used at a slightly different time.

This slightly different timing ends up resulting in a lower uptime for spell reflection when it matter

[2017-01-15 04:15] Roildan opened #3393 "[Blood DK] Simulation canceled"
Hi, it's my first time on Simulationcraft so the error probably comes from me ^^'

So i tried to simulate my Blood Dk but the simutation didn't work :

Simulation has been canceled during player setup! (thread=0)

I also tried to simulate an other Blood DK and the same errors appears. A friend tried with his own Simulationcraft but it's all the same for him.

#### Simulationcraft Version : 715_01

[2017-01-15 04:29] Traker2 commented on #3392
Update:  While monitoring my temps during a sim I watched my core clocks reach 81° C, with the sim subsequently crashing. After getting into my (Asus) bios, I switched back on the Cool n Quiet funcion, which I had previously turned off for OC purposes. I also noticed my Voltage control was set to Manual, and set it to Auto. Save and boot, I've run 3 Sims so far, reaching a max of 70° C on average,

[2017-01-15 04:29] #3392 closed, assigned to nobody

[2017-01-15 06:18] Collisionc commented on #3393
Unfortunately blood dk just isn't a supported spec at the moment - https://github.com/simulationcraft/simc/issues/2775

The person who used to maintain blood dk is either too busy or doesn't play the game anymore.

[2017-01-15 06:50] Roildan commented on #3393
Hum, sadness is real :(

Ty for answering !

[2017-01-15 06:50] #3393 closed, assigned to nobody

[2017-01-15 07:06] hitokiri51 opened #3395 "Cant get a weight for strengh and intellect."
Hi

I have tried different versions of simcraft for the past 2 days and I have the following issue: whenever I sim my rogue, using the simcraft addon, I go to options > Plots > anable plots and check agility, mastery, haste, versatility and crit.; and at the end I get the weights for all 5, but when I try this on my warrior or mage, checking strenght or intellect, I only get weights for mastery, h

[2017-01-15 07:40] Collisionc commented on #3185
Ok, put in hacky solution for now.

[2017-01-15 07:40] Collisionc commented on #3386
Ok, should be fixed in future version.

[2017-01-15 07:40] #3386 closed, assigned to Collisionc

[2017-01-15 08:53] Collisionc commented on #3369
If you check the newest betas, they will have the new talents. Top downloads are at top of this link - http://downloads.simulationcraft.org/?C=M;O=D

[2017-01-15 08:53] #3369 closed, assigned to nobody

[2017-01-15 09:00] Collisionc commented on #3365
Ok, added with an option so you can enable/disable being outside.
Outside=0 will deactivate the versatility bonus if the neck is worn.

[2017-01-15 09:00] #3365 closed, assigned to Collisionc

[2017-01-15 09:14] Collisionc commented on #3310
Ok, I think I fixed everything. Let me know if there are other issues .

[2017-01-15 09:15] Collisionc commented on #3148
We will take this into account in the future. We're constantly trying to improve the raid outputs.

[2017-01-15 09:15] #3148 closed, assigned to nobody

[2017-01-15 09:17] Collisionc commented on #3054
I believe this should be fixed, let me know if you still have problems.

[2017-01-15 09:17] #3054 closed, assigned to nobody

[2017-01-15 09:23] Collisionc commented on #3166
Ended up being a 1.5k dps increase on the mage_fire_t19m.simc profile with the bracers equipped to add this.

[2017-01-15 09:23] #3166 closed, assigned to Collisionc, Frostedmages

[2017-01-15 09:26] Collisionc commented on #3071
Removed glyph settings and changed default level to 110... the others will require more work than I feel like doing at the moment.

[2017-01-15 09:28] #3067 closed, assigned to nobody

[2017-01-15 09:35] Collisionc commented on #3276
Yeah, seems to be a 0.5-1% dps increase over the other potion.

[2017-01-15 09:35] #3276 closed, assigned to Collisionc

[2017-01-15 10:02] Collisionc commented on #3395
Try the "Reset All Settings" button that is under the Options --> Globals ---> Basic Options area. I can't reproduce this, and that will wipe all configuration settings that are saved even after reinstalling.

[2017-01-15 10:10] Collisionc commented on #3329
Thanks for reporting, will be fixed in the next release.

[2017-01-15 10:10] #3329 closed, assigned to Collisionc

[2017-01-15 10:13] NicolasMuzette commented on #3391
Ok, i get it for the haste. I think too that i may need some more energy regen, but my question is realy about versa and crit.

Even if i got a good crit score, as long as i don't reach any cap with my crit, i don't get how they can be a case where Versa>Crit. It still don't make any sense to me, correct me if i'm wrong (and i'm prety sure i am ^^):

1%versa = 1% dps = 475pts
1% crit ~= 1% dps = 4

[2017-01-15 10:13] Collisionc commented on #3131
Fixed this here - https://github.com/simulationcraft/simc/commit/49ce228451368e9cef599dd56b3f9368fc8c4373

Will be in the next release.

[2017-01-15 10:13] #3131 closed, assigned to Collisionc

[2017-01-15 10:14] Collisionc commented on #2975
Closing just because this is old, please submit your latest in a new issue and we will try and get it added asap.

[2017-01-15 10:14] #2975 closed, assigned to nobody

[2017-01-15 11:07] #2990 closed, assigned to nobody

[2017-01-15 11:12] Meatwookie opened #3396 "[SV Hunter] slightly improved APL"
[code]

oh and neck enchant should be hidden satyr not mark of the claw

[2017-01-15 11:48] navv1234 commented on #3335
Changed this behavior in c745ee833a7e11d91dcb3ec08034b2d8046e85a0.

[2017-01-15 11:48] #3335 closed, assigned to nobody

[2017-01-15 12:18] aethys256 commented on #3003
With the latest changes, this is going to be more close to the in-game behavior.
It's entirely normal you don't see the exact numbers as one log (especially when the context is different).

[2017-01-15 12:18] #3003 closed, assigned to aethys256

[2017-01-15 12:18] #3132 closed, assigned to aethys256

[2017-01-15 12:18] aethys256 commented on #3193
Thanks, I'll look again what can I do to improve the APL.

[2017-01-15 12:19] #3206 closed, assigned to aethys256

[2017-01-15 12:22] aethys256 commented on #3391
It's because you can see each stats a a dmg modifier. While it's not directly something that increases your dmg by x%, you can translate it by a dps gain. This is a normal behavior. SimC, according to the given context (and simulation model), will tell you that you should go for this or for this.
I recommend you to read this [wiki page](https://github.com/simulationcraft/simc/wiki/StatsScaling).
A

[2017-01-15 12:23] #3391 closed, assigned to aethys256

[2017-01-15 15:32] Meatwookie opened #3397 "[SV Hunter] Remove Serpent Sting initial hit"
there is a bug in the latest build regarding Serpent Sting and a mysterious initial hit on it.
Serpent Sting doesn't have an initial hit.

build 7.1.5 713fb1a

[2017-01-15 15:49] ithakus commented on #3365
Thank you - that's great!

[2017-01-15 17:15] Collisionc commented on #3397
I didn't have time to test this as I'm heading out to lunch, but I uploaded a new version here -http://downloads.simulationcraft.org/?C=M;O=D

[2017-01-15 17:29] Jumpywizard96 opened #3399 "Simcraft has stopped working!"
Every time i try to simulate, its loading after i click simulate and then its says Simulationcraft has stopped working.

Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version The lastest one.

#### If Simulationcraft is crashing, please include your dxdiag file
[DxDiag.txt](https://github.com/simulationcraft/simc/files/7

[2017-01-15 17:38] Collisionc commented on #3399
We actually literally added something that may help fix this in the upload I just made.

http://downloads.simulationcraft.org/?C=M;O=D

Let us know if that does anything for you.

[2017-01-15 17:42] Jumpywizard96 commented on #3399
Nope the same problem

[2017-01-15 17:53] Collisionc commented on #3399
Normally I'd forward you to the solution, but if you don't mind, can you test something for us ?

Basically, your computer has a program that is crashing Simulationcraft's web browser, and removing the program (it's typically classified as malware) fixes it, but  @navv1234 is working on a way to force unload the program so that it doesn't crash Simulationcraft.

So, if you're ok with being a teste

[2017-01-15 18:05] Collisionc commented on #3399
Ok, we tried a different way of fixing it here, redownload here - http://downloads.simulationcraft.org/?C=M;O=D

Let us know if it works or not, and then remove lavasoft's web companion because it's probably screwing up other things on your computer. :)

[2017-01-15 20:59] Meatwookie commented on #3397
just came home and tested it,
it is still in there
build f54a0e9

it looks like it does all the 720% AP damage as Hit + as DoT

[2017-01-15 21:59] Rerolltoo opened #3401 "new dps legendary trinket issues"
Player Rerolltoo could not find spell data for action kiljaedens_burning_wish
Simulation has been canceled during player setup! (thread=0)

 that was the error given by simc

[2017-01-15 22:53] nuoHep commented on #3397
Should be fixed by e71727558b372ccda622f3f9b0ca122e27ea4e9f

[2017-01-15 23:23] thalyssra opened #3402 "Compilation broken on Linux"
Commit 713fb1a1df0bce10b69ab6ee7efb144b31cd9a9d introduces some workaround(s) for Windows but doesn't seem to wrap it in anything to detect whether you're compiling on Windows/Linux/OS X, so it always attempts to build qt/sc_Workaround.cpp and fails because of the #include <windows.h> which doesn't exist (at least, on Linux).

[2017-01-16 00:45] ManagerWoW opened #3403 "[Brewmaster] Issues"
Follow up to https://github.com/simulationcraft/simc/commit/69c6a9b80a8c1b66ef536dbdf645242a0c2b8673

1. Blackout Combo still instantly crashes simc
2. Face Palm (artifact trait) is using the proc chance as its damage mod. The damage mod should be 200%
3. Stagger should proc [Choker of Barbed Reins](http://www.wowhead.com/item=142174/choker-of-barbed-reins) (it doesn't in simc)

[2017-01-16 00:59] AdamKnube commented on #3402
Confirmed. qt/Workaround.cpp needs some O/S detection.

[2017-01-16 02:59] Collisionc commented on #3397
Thanks, didn't think about the weapon.

[2017-01-16 02:59] #3397 closed, assigned to Collisionc

[2017-01-16 03:00] Collisionc commented on #3402
I'll add that in, thanks.

[2017-01-16 03:04] #3402 closed, assigned to Collisionc

[2017-01-16 03:04] Collisionc commented on #3401
Make sure you are trying the newest download at the top here - http://downloads.simulationcraft.org/?C=M;O=D

[2017-01-16 03:04] #3401 closed, assigned to nobody

[2017-01-16 03:05] #3399 closed, assigned to nobody

[2017-01-16 03:05] #3395 closed, assigned to nobody

[2017-01-16 03:05] Collisionc commented on #3403
Can you give me a profile with the crashing blackout combo? I couldn't get it to crash yesterday, so I just took a guess at something that was wrong.

[2017-01-16 03:07] Collisionc commented on #3403
Also, how in the heck is the spelldata so wrong for face palm. Does it always deal 200%, regardless of points in the artifact?

[2017-01-16 03:52] Collisionc commented on #3378
Our player skill settings aren't perfect, we'll look at adding in a way to just simulate slower reactions in the future though.

[2017-01-16 03:52] #3378 closed, assigned to nobody

[2017-01-16 03:53] Collisionc commented on #3275
I'll add in some better damage taken values for the tanks.

[2017-01-16 03:57] ManagerWoW commented on #3403
http://pastebin.com/8cguVik0

Ironskin Brew is crashing it (it's fine if you completely comment it out. Mainly looking just for damage done from BoC).

If you really want to implement/fix it: How it works in game is when you Blackout Combo an Ironskin Brew, it gives you a hidden buff that pauses your stagger debuff for 3 seconds. Further damage taken still adds to your stagger DOT, but the duratio

[2017-01-16 04:00] Collisionc commented on #3275
https://github.com/simulationcraft/simc/commit/5f7ca19dc697452e1af14de63f9782eb6a10995b

I increased damage done by 3-4x.

[2017-01-16 04:00] #3275 closed, assigned to nobody

[2017-01-16 05:25] #2986 closed, assigned to nobody

[2017-01-16 05:34] Collisionc commented on #2947
Ok, fixed.

[2017-01-16 05:34] #2947 closed, assigned to mserrano

[2017-01-16 05:34] Collisionc commented on #3403
I haven't a clue how to implement that type of monster. I'll comment the line of code that's crashing it, but I just spent 30 minutes trying to delay a dot tick and it wasn't happening.

[2017-01-16 05:39] ManagerWoW commented on #3403
Just built, and everything looks good. Thank you!

[2017-01-16 05:59] ManagerWoW commented on #3403
Thank you. Just built and everything looks good.

[2017-01-16 06:12] mokooo commented on #3310
Hello,
Thanks for the fixes but

-Tiger palm value is wrong, with rough maths my average tp should be

1.05(base spell)*1.1033(versa)*31486(ap)*1.28(crit)*1.255(mastery)*3(blackout combo)*2.2(average modifier with 3 face palm relics)=387k  (not even factoring the angerboda procs i was getting during the sim), it's actually a little bis less than that because of the bosses armor but in the sim i ge

[2017-01-16 06:38] ManagerWoW commented on #3310
Tiger Palm damage is correct. Blackout Combo & Face Palm are also correct. List of modifiers:

- Tiger Palm: 1.05
- Brewmaster Monk: 0.90
- Brewmaster Monk: 1.09
- Artificial Damage (60 traits): 1.30
- Armor (113): 0.6802

Barbed Rebuke is still broken, though I'm trying to make a custom on-use item to simulate it.

[2017-01-16 08:27] ManagerWoW commented on #3403
Exploding Keg is using a 1.5s GCD, instead of 1s

Breath of Fire GCD is using a hasted 1.5s GCD, instead of 1s

Rushing Jade Wind's cooldown/duration/ticks should be hasted

----

http://manager.heroicstrike.org/2017-01-16_02-27-55.png

The Sample Sequence Table is using the timestamp when a spell is queued up, not actually executed. Example in the picture: RJW is casted every 6s, but Simc is show

[2017-01-16 08:33] Deviannt1 opened #3405 "Wowprogress dps rankings to be based on 7.1.5"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-Files

#### simc_gui.simc file or contents
This file is saved in the same folder as the program after each simulation.

[2017-01-16 09:56] pnmueller opened #3406 "[Rogue] Blade Flurry not triggered by Run Through"
In-game Run Through has 30% of its damage cleaved onto nearby targets when Blade Flurry is active. This is not currently the case in Simulationcraft (pulled five minutes ago).

Looking at the module, the issue appears to be the check for the weapon attribute in the trigger_blade_flurry function which isn't set in run_through_t. This can be fixed by setting said weapon attribute in said method as i

[2017-01-16 10:50] #3406 closed, assigned to aethys256

[2017-01-16 10:51] aethys256 commented on #3406
Thank you, remember you reported it to me on Discord but it was lost somewhere, as you can see it's way better to open an issue since I can keep track 👍

[2017-01-16 11:01] Meatwookie opened #3407 "[SV Hunter] Spitting Cobra Damage not matching Live Datas"
Spitting Cobra Damage is not matching the current live data

https://i.gyazo.com/2ef56508722dc3a852f285bfe6b7930f.png

that is the damage it is doing in SimC 49674f1

however on live servers, the average hit is ~49k and average crit is ~98k

was also without Moknathal Stacks+Flask ingame so 12% ap less
using my own character
+ it should be scaling with haste

[code]

[2017-01-16 12:04] mokooo commented on #3310
it's really not, check logs there is no world where the average tp is around 250k with high gear, with poor rng it's around 300k and with a good one it's around 350k, there is definitely something wrong (and the previous build seemed accurate for tp damage), if you factor in what i forgot (armor traits and brm multipliers) you get
387* 0.9* 1.09* 1.26(52 traits)* 0.6802=325k, when even with really

[2017-01-16 12:43] Slippykins opened #3408 "[Balance] Force of Nature (Talent) not updated for 7.1.5 hidden changes"
SimCraft version 715-01

Force of Nature now inherits the player's Haste, Crit and Versatility ratings, as well as snapshotting any buffs currently on the player. This was an undocumented change in 7.1.5.

[2017-01-16 12:52] Slippykins opened #3409 "[Balance] Multi-target APL incorrect"
Just a couple of inefficiencies in the APL for Balance Druid AoE. I'll list the fixes to the APL necessary:

Default APL

Celestial_Alignment

Single_target

[2017-01-16 13:00] legarambor commented on #3395
hey, I've got this issue too. To fix it i basically had to make my Simcraft window smaller... if i put it on fullscreen the stats would dissapear for some reason... I have no idea what is causing this.  (using a 4k screen)

[2017-01-16 13:05] Manzazuu commented on #3374
No news about this update yet?

[2017-01-16 14:22] Azortharion opened #3410 "[Trinket] Naraxas' Spiked Tongue - Rancid Maw proc does not appear in damage listing."
Latest nightly.

If you run a sim on a character using the Naraxas' Spiked Tongue trinket, the damage of the trinket does not appear in the damage listing, but it does appear below, in the simple action stats menu.

https://puu.sh/toh9d/2c26a95f7b.png

[2017-01-16 14:50] vhtr commented on #2922
Im simming aoe fights for ele shaman, earthquake triggers sephuz yet the buff isnt showing up in dynamic buffs in result screen.

[2017-01-16 15:38] Ragatokk commented on #3368
Devastator uses a devastate on every auto attack, so the damage should be shown as devastate not auto attack.

I am not sure but I think that the prioritization for a warrior with the talent would be something like this:

Spell reflect
Demo shout
Last stand
Shield wall
Battlecry
Shield block

Ignore pain if rage >=40 and cost is reduced by vengeance and (you do not have ignore pain buff on OR you

[2017-01-16 15:46] Collisionc commented on #3405
Yeah we can't do anything about this.

[2017-01-16 15:46] #3405 closed, assigned to nobody

[2017-01-16 15:50] Collisionc commented on #3408
joy be to undocumented changes

[2017-01-16 16:09] Collisionc commented on #3410
It's probably due to some specs not having their distance set correctly.

[2017-01-16 16:31] Collisionc commented on #3410
That was annoying to track down, basically there were a lot of specs setting the value of base.distance later than they needed to.

[2017-01-16 16:31] #3410 closed, assigned to Collisionc

[2017-01-16 16:42] Collisionc commented on #3368
does devastator proc deep wounds ?

[2017-01-16 16:55] Collisionc commented on #3368
Nm, I figured out that it does proc deep wounds.

If you make a new action list with that I'll add it, but for now I am closing this issue. :)

[2017-01-16 16:55] #3368 closed, assigned to Collisionc

[2017-01-16 17:09] Collisionc commented on #3310
stupid barbed rebuke

[2017-01-16 18:36] Collisionc commented on #3310
Ok, had to get navv to fix the neck - https://github.com/simulationcraft/simc/commit/28c4864a5aeca6c9993599054bbf29c199a01a1b

should work now.

[2017-01-16 19:29] ManagerWoW commented on #3310
Barbed rebuke is probably going to need special coding. It always hits for 15,000 damage, regardless of item level. It ignores armor. It doesn't scale with AP. It does scale with mods (versatility / artificial damage..etc)

Stagger is still not proccing it, but even if that gets fixed, there's the issue that stagger still ticks every 1s, instead of 0.5s in Simc (intentional, to reduce events). Mig

[2017-01-16 19:30] navv1234 commented on #3310
Aha, interesting. Good info on that 15k thing.

[2017-01-16 22:07] Alpheus commented on #3374
http://www.filedropper.com/simc-715-01-legion-dev-osx-x86-01-16-e1886b4 This is the latest nightly as of the time of posting.

[2017-01-16 22:59] nuoHep commented on #3407
I've merged an initial implementation of a guardian based snake which now benefits from haste and (I believe at least) has the correct owner ap coefficient.
The ap coefficient matches all ap values I've tested so far (more than in the comment; technically it's closer to 1.41397 though, I rounded it to 1.414). It definitely does not snapshot, though it lags somewhat in updating its stats.

But, it'

[2017-01-16 23:43] Medi94 opened #3413 "Fire Mage, Legendary, Koralon"
The Legendary is propably wrong calculated.

In the source code I found the following instruction for the spell "scorch".
The percantage on live Servers is 30% and has a 100% critical hit Chance. I didn't found the 100% critical hit Chance or scorch. I haven't checked the damage Multiplier, but it should be correct, because it is still on +350% dmg.
Also if you start a new Simulation for a fire ma

[2017-01-17 01:01] Manzazuu commented on #3374
It says this image cannot be recognized (when trying to open the file)

I downloaded it again, same results.

[2017-01-17 01:56] ender444 commented on #3352
That's Adaware's leftover crap... thought I had scrubbed it. Must have come back. Thanks for the tip!

[2017-01-17 02:45] Collisionc commented on #3310
so barbed rebuke cannot crit?

[2017-01-17 02:48] ManagerWoW commented on #3310
It can crit

[2017-01-17 02:54] Collisionc commented on #3310
See if the damage looks about right now, it's hitting for around 18k constantly with a random prot warrior i'm using... i think it has enough versatility to do that.

[2017-01-17 03:13] ManagerWoW commented on #3310
Damage looks good, just need to make it be blockable.

[2017-01-17 03:21] Collisionc commented on #3310
what about parry ?

[2017-01-17 03:36] ManagerWoW commented on #3310
Unsure, and hard to test. Guessing it can, but it won't matter for tanks.

[2017-01-17 03:58] ChadGoldstein opened #3414 "Hunters broken on release simc-715-01-win64-c4f5bf8.7z 2017-01-17 03:56"
Simc is showing that I should be doing nearly 2 million DPS on a patchwerk sim.
#### Simulationcraft Version

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-Files

#### simc_gui.simc file or contents

DPS Ranking:
1959117 100.0%  Raid
1959117  100.0%  Kazinorian

HPS Ranking:
      0 100.0%  Raid

[2017-01-17 05:38] Collisionc commented on #3414
Really don't know why that happened, but thanks for reporting. I'll upload a new version in 10~ minutes or so.

[2017-01-17 05:38] #3414 closed, assigned to Collisionc

[2017-01-17 10:51] Ritterbecks opened #3415 "[Protection Warrior] Ravager and Archimonde's Hatred Reborn"
#### Simulationcraft Version 7.1.5 latest nightly

When simulating my Proection Warrior, Ravager seems to be way off. It does approximately 9 times more damage than ingame, where it is about 2% of my myth+ damage on HEAVY AoE pulls. The tooltip states it does round about the same dmg as Thunderclap, but over the complete duration and not per tick.

On a second note the new legendary tank trinket d

[2017-01-17 10:53] achobanov opened #3416 "Maybe make Sephuz, an option in the buffs?"
This might not be a problem, but I can't seem to disable Hero buff. I unchecked it under Options, but I can still see 17% uptime on it.

Now to the Sephuz issue - I think I should be able to disable (lol) it. Because on some bosses its not probably or even possible to activate Sephuz, let allone keep 30% uptime.

SimulationCraft version is 715-01.

[2017-01-17 11:28] vituscze commented on #3413
Damage multiplier: https://github.com/simulationcraft/simc/blob/legion-dev/engine/class_modules/sc_mage.cpp#L6017

100% crit chance: https://github.com/simulationcraft/simc/blob/legion-dev/engine/class_modules/sc_mage.cpp#L6029

As for APL checking for <30%, this has been fixed in newer versions of SimC.

[2017-01-17 11:45] Medi94 commented on #3413
Great, thank you

[2017-01-17 11:45] #3413 closed, assigned to nobody

[2017-01-17 19:27] mdrcorp opened #3418 "SimulationCraft 710-03. Doesn't see crit stat on the engineering goggles. This item: http://www.wowhead.com/spell=235756/heavy-skullblasters#comments"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-Files

#### simc_gui.simc file or contents
This file is saved in the same folder as the program after each simulation.

[2017-01-17 20:12] Collisionc commented on #3409
Got it, thanks

[2017-01-17 20:12] #3409 closed, assigned to Collisionc

[2017-01-17 21:24] Collisionc commented on #3408
Doesn't even look like it's even implemented in simc, it'll have to wait until 715-02

[2017-01-18 00:42] Collisionc commented on #3415
Fixed ravager, the legendary will take more time.

[2017-01-18 08:30] dominicenglish opened #3419 "Affliction Warlock: active_dot.unstable_affliction doesn't seem to get set"
As it says in the title, I can't seem to get active_dot.unstable_affliction to work in my action list.

#### Simulationcraft Version
715-01

#### simc_gui.simc file
[code]

#### Reproduction Steps:

If you run the following sim, `life_tap` will never get called:
[code]

If you run the same sim but change `unstable_affliction` to `agony` then life tap gets called all day long.
[code]

[2017-01-18 11:45] lgkern commented on #3416
Sephuz is implemented individually for each class. If it is proc'ing 30% of the time, either it is possible (constant adds) or the implementation is wrong. Which class / fight configuration are you finding that uptime?

[2017-01-18 13:19] navv1234 commented on #3374
I wrote myself a script to push tip-of-the-tree MacOS builds to downloads.simulationcraft.org now. I'll try to keep those up to date. 715-01 official release is also now available from the website.

[2017-01-18 13:19] #3374 closed, assigned to nobody

[2017-01-18 13:23] ddrak3 opened #3420 "NH trinket "whispers in the dark""
using newest simcraft nightly build

trinket: whispers in the dark, id=140809

simcraft tells me a 14% trinket uptime.
testing done by me shows that it is more like a 8 - 10% uptime

more data has to be collected, that is obvious, but i am fairly confident that simcraft is wront about the rppm of the trinket

this post is only here to inform you that the trinket is most likely not correctly implem

[2017-01-18 14:06] pprocess1 commented on #3374
Thank you sooo much!!!

Thank you,
Robert Borchardt

On Jan 18, 2017, at 7:19 AM, PRAISE EARTHQUAKE TOTEM <notifications@github.com<mailto:notifications@github.com>> wrote:

I wrote myself a script to push tip-of-the-tree MacOS builds to downloads.simulationcraft.org<http://downloads.simulationcraft.org> now. I'll try to keep those up to date. 715-01 official release is also now available from the

[2017-01-18 15:37] loldcv opened #3421 "Naraxas' Spiked Tongue not doing correct amount of damage?"
#### Simulationcraft Version
715-01

#### simc_gui.simc file or contents
http://pastebin.com/Ci6G8dHe

![weird2](https://cloud.githubusercontent.com/assets/25203529/22070372/0b640e84-dd9c-11e6-8af4-d110f0a2d4af.PNG)

As seen in the image, my Trinket "Naraxas' Spiked Tongue" shows an iteration maximum damage of 145823, however in-game it consistently does 222000+ damage, sometimes even 400k+ when s

[2017-01-18 16:05] loldcv commented on #3421
It even sometimes crits for 400k damage.

[2017-01-18 17:22] Collisionc commented on #3421
add

distance=20

to the simulation, it looks like beastmastery isn't being set to the proper distance from the target  by default.

[2017-01-18 17:40] Collisionc commented on #3421
Yeah, I was setting the pet to 40 yards instead of the hunter. :D It'll be fixed in next release or nightly.

[2017-01-18 18:28] loldcv commented on #3421
Seems to be working as intended now, thank you very much!

[2017-01-18 18:28] #3421 closed, assigned to Collisionc

[2017-01-18 19:40] navv1234 commented on #3185
This should probably now be fixed, and you could remove whatever hacky thing you added.

[2017-01-18 20:18] achobanov commented on #3416
I used an updated version and it seems to work ok now. Otherwise I was Acane Mage on Patchwreck

[2017-01-18 20:18] #3416 closed, assigned to nobody

[2017-01-18 23:49] Rerolltoo opened #3422 "not working app spit this error"
# SimulationCraft encountered an error!
* Category: Simulation setup error
* Error: Nothing to sim!

## All options used for simulation:
[code]

[2017-01-19 00:54] Hemario opened #3423 "[question] desired_targets"
Ovale contributor here, been wondering what the variable "desired_targets" means.

For instance in the Havoc Demon Hunter APL:
`actions+=/fel_barrage,if=charges>=5&(buff.momentum.up|!talent.momentum.enabled)&((active_enemies>desired_targets&active_enemies>1)|raid_event.adds.in>30)`

To what should that translate in WoW?

[2017-01-19 07:47] SebastianStruct opened #3424 "Different results for the same simulation"
I'm using the newest SimCraft build:
SimcSetup-715-02-Win64.exe 2017-01-18 22:59 45M

I've imported my character (Demonhunter, Havoc) from Arsenal. Same items and not logged in since yesterday.

My Settings:
Enable Scaling: Yes
Stats to scale: Agility, Crit, Haste, Mastery, Versatility

Then I simulated my character. The problem is that when I simulate 5x successively, each time different values o

[2017-01-19 07:58] Dakiel commented on #3193
@Aethys256
Hi, actually I'm not talking about the APL.
What I am talking about is that the 125% Garrote damage boost from subterfuge is NOT working.

Let me simply show you a log(using T19H_NH profile with Nightstalker change to Subterfuge).
0.000 Rogue_Assassination_T19M_NH performs garrote (170)
2.000 Rogue_Assassination_T19M_NH garrote ticks (1 of 9) Fluffy_Pillow for 47529 physical damage (hit

[2017-01-19 07:59] jwd83 opened #3425 "Eye of Command stacks resetting. Visible in Sample Sequence Table"
Please include a brief overview of the issue in the title above, as well as completing the following:

SimulationCraft 715-01
for World of Warcraft 7.1.5 Live (wow build level 23360, git build 4e1343e)

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-Files

#### simc_gui.simc file or contents
This

[2017-01-19 08:08] jwd83 commented on #3424
How many iterations are you doing? The numbers will be more consistent with more iterations. They recommend it be set to at least 10,000

[2017-01-19 08:22] SebastianStruct commented on #3424
I'm doing exactly 10,000 iterations (default value).

All settings are default, except "Enable Scaling" and my corresponding values (agility, crit,...). It is strange that the results change every time I do the exact same simulation.

Could it be due to probabilities such as proc luck?

EDIT: I guess my assumption is correct. More iterations -> more accurate / similar values

[2017-01-19 09:14] #3424 closed, assigned to nobody

[2017-01-19 10:36] darkfreak opened #3426 "Absorbs not counting/showing & DTPS to high?"
Absorbs for the legendary neck do not seem to be counted and/or showing.
By that I mean Xavaric's Magnum Opus' (spell=207428) absorb shield.
The same goes for Last Defender (spell=203791), which does show in combatlogs, but not in sims.

Last but not least:
Since the most recent stable release DTPS-values suddenly increased by an insane ammount.
Whereas the old 710-03 stable, and 715-01 nightlies

[2017-01-19 10:57] navv1234 commented on #3425
Without knowing what specifically happened here, Eye of Command can drop naturally in the simulator, if you miss enough auto-attack swings. Coincidentally, since auto attacks do not show in the sample sequence table as it only records "button presses", the 2 stack is also possible.

[2017-01-19 12:19] Lcdaxe opened #3427 "Simulationcraft error (APPCRASH)"
Please include a brief overview of the issue in the title above, as well as completing the following:
**I can't even use the aplication, it just crashes right when I start it**

#### Simulationcraft Version: **7.1.5, release 1 for Windows 32 bits**

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-F

[2017-01-19 16:43] ddrak3 commented on #3420
update: my results after further testing:
proc rate in nighthold raid seems to be almost exactly what simcraft tells me in sims.
proc rate in emerald nightmare is 50% of that value, uptime of about 6-8% over 30 boss fights of 3-4min each.
sample size still too low

[2017-01-19 17:12] danaesignal opened #3428 "Norgannon's Foresight Proc Not Activating"
While running a Light Movement sim with Norgannon's Foresight equipped I have noticed that the legendary effect seemingly never activates, and at no point do I cast any non-instant spell during movement.

#### Simulationcraft Version
Git build 3ccf48a

#### simc_gui.simc file or contents
http://pastebin.com/PNqp8vKg

#### Reproduction Steps:
1.) Equip Norgannon's Foresight on a shadow priest (have

[2017-01-19 17:21] aethys256 commented on #3193
I'll look at it when I'll be back.

[2017-01-19 18:56] Jundarer commented on #3420
Proc rate is correct in Simc since it's taken (pretty much) directly out of the WoW files.

[2017-01-19 20:39] FrozenSoviet opened #3429 "[Rogue] Kingsbane damage significantly lower than live"
Currently in Simc build 715-02, kingsbane damage is approximatly ~7.7% of total damage, while on live logs it can be anywhere from 10-17% of dmg, and simc max ticks are ~1m crits while on live much greater kingsbane ticks can occur.

See log:
https://www.warcraftlogs.com/reports/L9g3B62PKFfMCpjt#fight=18&type=damage-done&start=6399029&end=6415476&source=12&view=events

https://www.warcraftlogs.com

[2017-01-20 04:33] rexall51 opened #3430 "virus detected in newest builds"
When installing the latest 64 bit build as of 1/19/2017 webroot secure anywhere is detecting these two files as a threat:

qt5widgets.dll and qwindows.dll

I have installed the previous builds with no problems until now, these two files were immediately quarantined and blocked.

[2017-01-20 06:06] eja-git commented on #3430
I was just coming to post this same thing.  Nightly 64-bit build, installing via *.7z file.  Webroot tags it after unzip, but not if scanned as a zip...

[2017-01-20 08:13] travvy87 opened #3431 "BSOD when simulating 'CLOCK_WATCHDOG_TIMEOUT'"
Version - 7.1.5 Release 1 64bit
[DxDiag.txt](https://github.com/simulationcraft/simc/files/718762/DxDiag.txt)

simc_gui.simc file appears to be empty - probably because the sim is failing.

Essentially when i click simulate, it will get to 50% or 75% before the PC will crash and BSOD. Never have any issues in any other programs and all diagnostics on PC come back clean.

[2017-01-20 17:59] Frostedmages commented on #3420
Proc rates from the game files can be wrong (see Aran's Relaxing Ruby). To test this though you will need to do 5-10hrs of a continuous log session to get a reasonably time-averaged proc rate to compare to the sim.

[2017-01-20 19:48] cremor commented on #3430
Has to be a false positive. All scanners on VirusTotal say that they are clean:
[Qt5Widgets.dll results](https://www.virustotal.com/en/file/e6053dd3be588791c45a699071e9e570cebcb5c816d96fc01fddbce4b6e0e56b/analysis/1484941442/)
[qwindows.dll results](https://www.virustotal.com/en/file/ab597326c22d493d1dddaa980f31d53b0e935785d4b1c5c153e25dce792eb985/analysis/1484941535/)

[2017-01-20 21:43] amollerson opened #3432 "Frost Deathknight APL issues"
actions+=/sindragosas_fury,if=buff.pillar_of_frost.up&(buff.unholy_strength.up|(buff.pillar_of_frost.remains<3&target.time_to_die<60))&debuff.razorice.stack==5&!buff.obliteration.up

Has a double equals on debuff.razorice.stack==5, which is causing a syntax error.

[2017-01-20 21:50] nuoHep commented on #3407
So I've committed the pocket snake double-dipping off vers & haste. It should be doing considerably more damage now. Though it may be possible that it's double-dipping off something else. Sadly I won't have the time to test it any further for several days at least.

[2017-01-20 23:50] ssateneth commented on #3432
Weird, I don't get that syntax error. But I'm using GUI so maybe it ignores it. I get correct behavior from = as well as ==

[2017-01-21 00:02] sparkcoil commented on #3432
Looks like the parser treats = and == the same without complaining, though looking through all the current APL files the only current usage is the one mentioned above.  The same allowance is made for ||, &&, ^^, ~~, and perhaps others.  I guess this was done to allow common C syntax to not cause hard errors in the APL.

[2017-01-21 00:03] amollerson commented on #3432
Guess I was mistaken. Thought since it was the only usage it was an error.
On Fri, Jan 20, 2017 at 5:02 PM Dinarte Morais <notifications@github.com>
wrote:

[2017-01-21 00:39] Alatariel96 opened #3433 "MM 2 peice being overvalued"
When I sim myself with just the two set and a full artifact without quick shot relics I get a trueshot interval of 86 seconds. For this to be possible you would have to spend 64*35=2240 focus or 26 focus a second and it isn't even possible to generate that much focus with 100% haste

[APL used](http://pastebin.com/wAcSbuer)

simmed with a 200 second fight and 0 variance because I only wanted to se

[2017-01-21 02:59] Collisionc commented on #3430
Yeah, these are just false positives. Not much we can do about it.

[2017-01-21 03:23] adamhl8 opened #3434 "[Prot Warrior] the revenge buff (for free revenges) is never triggered"
Revenge is never free despite there being parries/dodges in the sim.

I set up an APL that's simply `revenge,if=buff.revenge.up` and Revenge never gets cast.

[2017-01-21 04:33] pnmueller opened #3435 "[Rogue] Insignia Not Properly Simulated for Assassination"
The current Simulationcraft version doesn't appear to correctly model Insignia for Assassination. In particular, Simulationcraft models Insignia as if it always did the same percentage of the Mutilate's damage whereas in-game it takes pre-Vendetta damage, resulting in significantly lower Insignia damage. You can clearly see this when looking at the total damage contribution of Insignia but also wh

[2017-01-21 08:06] Jayezi commented on #3433
Looks like Windrunner procs were reducing the cooldown as if they were regular Aimed Shots, but I see a recent change in the newest nightly build that should fix it. I'm getting around 110 second intervals with it now.
http://downloads.simulationcraft.org/?C=M;O=D

[2017-01-21 10:12] Lcdaxe commented on #3427
Any help?

[2017-01-21 13:59] Tengenstein opened #3437 "[Prot Warrior] Thunder Clap not Resesting Shield slam CD"
Please include a brief overview of the issue in the title above, as well as completing the following:

In game, Thunder Clap does more Damage the Devastate, on a single target by about 35% and generates 5 rage, and like Devastate has 30% chance to  reset Shield Slams CD, I can't really see why when maximizing TMI Thunderclap isn't above Devastate in the APL, however if you do change the APL to use

[2017-01-21 14:19] nuoHep commented on #3433
Yeah, commit e9a99d13246bc9a2dc7d75f82db81e63295d7fec should've already fixed it, but I've just commited another one which should make the set implementation more robust to possible problems/inconsistencies in our handling of spell data.

[2017-01-21 14:52] gixxpunk commented on #3432
https://github.com/simulationcraft/simc/commit/05a6f98cafae1f7627009ed5650480e0ecf72899

[2017-01-21 14:52] #3432 closed, assigned to nobody

[2017-01-21 15:20] Alatariel96 commented on #3433
That was my bad Didn't see the change

[2017-01-21 15:20] #3433 closed, assigned to nobody

[2017-01-21 20:02] rexall51 commented on #3430
definitely a false positive, reinstalled again and no problems

[2017-01-21 20:02] #3430 closed, assigned to nobody

[2017-01-22 00:00] OG-tubbs opened #3438 "Pawn String Help?"

[2017-01-22 00:07] adamhl8 commented on #3437
The Prot Warrior APL was updated in commit acb2867. It includes the Thunder Clap > Devastate change you mentioned. The new APL is in the [latest nightly build](http://downloads.simulationcraft.org/?C=M;O=D).

[2017-01-22 00:12] #3438 closed, assigned to nobody

[2017-01-22 00:20] Azortharion opened #3439 "[Beast Mastery Legendary] Adding ,ilevel=940 for The Mantle of Command breaks its effect."
If you use ,ilevel=940 to manually set the legendary item's item level to 940 as it should be, the passive effect of the  legendary seems to disappear.

To reproduce:

Import Hunter_BM_T19M
Equip the Mantle of Command (ID 144326)
Run a sim with and without it, note the extra Dire Beasts (the legendary gives the ability an additional charge)

Now
Add ,ilevel=940 to the item string
Run the sim again

[2017-01-22 00:31] Azortharion commented on #3439
EDIT: User error.

[2017-01-22 00:31] #3439 closed, assigned to nobody

[2017-01-22 00:53] Tengenstein commented on #3437
The nightly build has the same issue, if you prioritize Thunder Clap over Devastate, TMI goes up, RPS and number of Shield Slam casts go down. Something is not quite right; TC should  not lead to less SS casts.

[2017-01-22 01:12] adamhl8 commented on #3437
503d6b6

Fixed Thunder Clap not resetting Shield Slam.

Unfortunately free Revenges are bugged so testing for which spell to prioritize is basically impossible right now.

[2017-01-22 01:19] adamhl8 commented on #3437
Just ran a few sims with the TClap fix in place; prioritizing TClap > Devastate is always a gain now,

[2017-01-22 01:48] Collisionc commented on #3434
Ok, should work now.

[2017-01-22 01:48] #3434 closed, assigned to Collisionc

[2017-01-22 01:49] #3437 closed, assigned to nobody

[2017-01-22 01:55] Collisionc commented on #3431
See 4th option here - https://github.com/simulationcraft/simc/wiki/CommonIssues

[2017-01-22 01:55] Collisionc commented on #3427
Try option 3 here - https://github.com/simulationcraft/simc/wiki/CommonIssues

[2017-01-22 01:56] Collisionc commented on #3422
There is no character imported

[2017-01-22 06:55] Maxweii opened #3440 "[Unholy Death Knight] APL Improvements"
#### Simulationcraft Version

715-02

#### simc_gui.simc file or contents
This file is saved in the same folder as the program after each simulation. Make sure to run the simulation that is giving you issues, then include the file here by either uploading to github, copy/pasting the contents, or using http://pastebin.com/

http://pastebin.com/qJE8QGuS

Various APL improvements for Unholy Death Kni

[2017-01-22 10:48] ogot opened #3441 "[Rogue] Negative Mastery Stat weight for Outlaw"
Had a sim give a negative stat weight for Mastery as Outlaw.

#### Simulationcraft Version

SimulationCraft 715-02
for World of Warcraft 7.1.5 Live (wow build level 23360, git build b4fa3d9)

#### simc_gui.simc file or contents

https://drive.google.com/open?id=0BxO4oDY4CriCZGx5T1h1WlZnYU0

#### Reproduction Steps:

I logged out, imported my character on SimC, changed to 5 targets and HecticAddCle

[2017-01-22 11:51] aethys256 commented on #3429
Fixed in https://github.com/simulationcraft/simc/commit/f28f50fb80159caf7d379135f32360f41cff1c54

[2017-01-22 11:51] #3429 closed, assigned to aethys256

[2017-01-22 14:00] cnork opened #3442 "[Demonhunter] Fel Erruption damage is broken"
#### Simulationcraft Version:
git build 4e1343e

#### simc_gui.simc file or contents:
http://pastebin.com/kjctzgig

#### Issue Description:
I just simd my Vengeance Tank with Fel Erruption taken as the T3 talent. The DPS result was way above of what you can archive, a quick look at the simulation showed fel_erruption was calculated to do 2.9M damage per execute.

[2017-01-22 16:03] Azortharion opened #3443 "[Marksmanship] Explosive Shot doing too little damage."
Explosive Shot is doing roughly half the damage it should be doing in SimCraft.

I hit a dummy for 2 minutes and cast it 4 times and got minimum hits of 793k as seen here: https://puu.sh/tvSHK/b98775f097.png

In SimCraft, the talent does just half that damage: https://puu.sh/tvSKF/ede1ad53e7.png

[2017-01-22 16:18] Azortharion opened #3444 "[Marksmanship] Barrage doing too little damage."
Barrage appears to be doing ~8% too little damage in SimCraft. I hit a dummy about a billion times with Barrage with no self-buffs and got a minimum damage of 57.730, 31 times.

In SimCraft, it does a bit less: https://puu.sh/tvTPz/c9bce1e068.png

Auto-Shot damage was equal on the sim and in-game, indicating that the characters are similar.

[2017-01-22 20:53] gixxpunk commented on #3440
https://github.com/simulationcraft/simc/commit/b7f09a2e30313b2bb6283da050a3b1275c5abeaf

[2017-01-22 20:53] #3440 closed, assigned to nobody

[2017-01-22 21:52] Pachelbe1 commented on #3318
I'm still seeing unusually high numbers of Mantle of the Master Assassin procs. I think, in part, Subterfuge is causing it to re-proc because the code thinks the actor re-stealths after regular stealth ends and Subterfuge begins.

If that's not the case, then I'm not sure what the problem is, but it definitely is a problem. The sim has the buff gained between 8-12 times when a raid fight of simila

[2017-01-22 23:46] aethys256 commented on #3318
Any logs ? (SimC)

[2017-01-23 01:32] Pachelbe1 commented on #3318
Here's a log: http://pastebin.com/9BiMWnQL

I'm not really code-savvy so I'm not sure how to diagnose anything. Let me know if you need anything else.

[2017-01-23 06:23] bitfluxhound commented on #3318
Number of times buff is gained or lost is not important, since uptime is correct. This is due to how it is coded.

[2017-01-23 06:23] #3318 closed, assigned to aethys256

[2017-01-23 08:36] nasirabtw opened #3446 "Sphere of Insanity doesn't deal damage"
http://pastebin.com/cH0GCUcy

replace artifact line with 47:0:0:0:0:764:1:765:1:766:1:767:3:768:1:769:1:770:1:771:3:772:3:773:3:774:3:775:3:776:3:777:3:778:3:779:1:1347:1

Sphere of Insanity doesn't deal any damage. The intended mechanic is that anytime you deal damage with voidbolt, mindblast, or mindflay (excluding the aoe swp ticks), they check if any target within 100 yards has SWP, and if the

[2017-01-23 13:12] loldcv opened #3447 "Trinket "Ley Spark" not working in Simulationcraft"
#### Simulationcraft Version
715-02

#### simc_gui.simc file or contents
http://pastebin.com/iJ0HKvBr

#### What is the problem?
The trinket called "Ley Spark" gives you a buff called "Sparking" which increases your agility.

![buff](https://cloud.githubusercontent.com/assets/25203529/22205000/4d770cd6-e175-11e6-8ae4-e7b4a03dbb50.png)

However when you simulate with this trinket equipped, I cant f

[2017-01-23 14:05] adamhl8 opened #3449 "[Prot Warrior] Add Kakushan's and MotV to Thunder Clap"
I attempted to add the rage gen increases from Might of the Vrykul and Kakushan's to Thunder Clap in 5a24719.

Total rage generated from Thunder Clap went up (as it should), but looking at resource gains, the average rage generated went down; it's generating less than 5 rage on average which is impossible.

[2017-01-23 14:09] #3185 closed, assigned to Collisionc, Frostedmages

[2017-01-23 14:30] lgkern commented on #3446
Thanks for reporting it.
Looking at the code it also seems that the original implementation of Sphere is wrong, it was dealing damage only to one target instead of all targets with SWP up. I'll refactor the implementation to fix the damage and the targets affected.

[2017-01-23 17:26] Zarania commented on #3442
Will take a look tonight.

[2017-01-23 17:28] Zarania commented on #3425
Nah, what's happening is Eye of Command is flagged as procing off white hits.  Demon Hunters have Chaos Blades which changes your white hits to be yellow, but still proc things that proc off white hits.  I know of the issue, just need to figure out the right solution for it.

[2017-01-23 17:52] Zarania commented on #3425
Fixed in https://github.com/simulationcraft/simc/commit/728eb6c906d752cc20d459c8f9e72110dbb18f00

Should be in the next nightly.

[2017-01-23 17:52] #3425 closed, assigned to Zarania

[2017-01-24 05:20] #3449 closed, assigned to Collisionc

[2017-01-24 05:21] #3310 closed, assigned to Collisionc

[2017-01-24 05:47] Collisionc commented on #3403
Ok, test out the ironskin thing, it appears to be working... I hope.

[2017-01-24 05:47] #3403 closed, assigned to nobody

[2017-01-24 05:48] Collisionc commented on #3420
Closing until more data is provided.

[2017-01-24 05:48] #3420 closed, assigned to nobody

[2017-01-24 05:48] #3422 closed, assigned to nobody

[2017-01-24 05:50] Collisionc commented on #3423
active_enemies > desired_targets effectively means that there are currently additional adds present that aren't normally there.  It's normally used with a long-cd AoE ability like bladestorm where you don't want to waste it on 2 targets when there could be 8 targets to hit in 30 seconds.

Ex:
Encounter with 3 permanent targets means that 'desired_targets' is always at 3.
active_enemies is the amou

[2017-01-24 05:50] #3423 closed, assigned to nobody

[2017-01-24 05:50] #3427 closed, assigned to nobody

[2017-01-24 05:51] #3431 closed, assigned to nobody

[2017-01-24 07:00] #3444 closed, assigned to nobody

[2017-01-24 07:00] #3443 closed, assigned to nobody

[2017-01-24 12:13] adamhl8 opened #3450 "[Prot Warrior] Stat calculations differ from in-game"
The total amount for some stats seems a bit off.

Sim HTML report: https://dl.dropboxusercontent.com/u/50556991/results_html.html

In-game stats (no buffs, flasks, etc): http://i.imgur.com/BI3ql8V.png

The gear is exactly the same for both.

- Stam - 72171 vs. 71687
- Strength - 28800 vs. 28809
- Armor is the biggest outlier. 8010 vs. 4797
- Parry - 17.41% vs. 21.78%

[2017-01-24 19:35] ssateneth commented on #3450
Need your simc_gui.simc file too

[2017-01-24 21:26] Rusah opened #3452 "Nightblooming Frond incorrectly benefiting from Jeweled Signet of Melandrus"
Nightblooming Fronds is incorrectly gaining +10% damage from http://www.wowhead.com/item=134542/jeweled-signet-of-melandrus&bonus=1826

Proof that it should not benefit via warcraftlogs:
No ring: https://www.warcraftlogs.com/reports/32pRKzNHBF9MkmtT/#type=damage-done&source=10&view=events&ability=225739

Ring equipped: https://www.warcraftlogs.com/reports/3BLMyxcdQkY146X9/#type=damage-done&source=

[2017-01-24 21:47] victorsaad00 opened #3453 "Simulationcraft doesn't respond when i open"
Hello,
It's my first time using simulationcraft software. I downloaded it today the version 7.1.5 ( the lastest one 64 bit ). Well, i run the first simulation for my character and when i was about to run the second simulation my PC stoped running everything and i had to reset it. When i turn on the PC and run back the simulationcraft software it just stop running, doesn't respond and i have to clo

[2017-01-24 22:00] Collisionc commented on #3453
Can you link the armory of the character you are trying to sim ?

[2017-01-24 22:12] victorsaad00 commented on #3453
Is it this? http://us.battle.net/wow/en/character/zuljin/Demonsler/simple

[2017-01-24 22:24] Shingedo opened #3454 "Plot simulations sim too high"
When I sim my Retribution Paladin and choose to generate a plot, then the damage numbers for the plot simulations are too high in comparision to the base damage:
https://i.imgur.com/Bpbth0C.jpg

#### Simulationcraft Version
Nightly 90601f6 (but this has happened before and was already reported to @mserrano on the retribution discord weeks ago)

#### simc_gui.simc file or contents
[code]

#### Repr

[2017-01-24 23:27] Kazkek opened #3455 "Draught of Souls damage and Cooldown are incorrect"
The damage done per execute of Draught of Souls is currently undervalued. For an 885 trinket it currently sims around 175k to 196k when it should be around 225k to 246k. This is without agonizing poison being applied. If agonizing poison is used in the sim, it correctly modifies the low damage but it is still lower than what live damage is with AP. The cooldown of the trinket is also incorrectly b

[2017-01-25 00:06] adamhl8 commented on #3450
https://www.dropbox.com/s/twd5j3ehga64q02/simc_gui.simc?dl=0

[2017-01-25 00:17] Jimmy469 opened #3456 "[Retribution Paladin] CoF Proc rate incorrect"
Simc version 715-02 git build 4663516 has the wrong proc rates for Convergence of Fates for retribution paladins.

Per hotfix notes from 1/23/17:
Retribution Paladin
with Avenging Wrath: +250% proc rate
with Crusade: +25% proc rate

Pre-hotfix proc rate was 1.2RPPM. Post hotfix would be
with Avenging Wrath: 4.2
with Crusade: 1.5

Commit https://github.com/simulationcraft/simc/commit/881781229c2563

[2017-01-25 00:46] Kazkek commented on #3455
This might be a bug on Blizzards side of things. Currently some people in my guild see the item as 1 min and 20 second cooldown and some see it as a 2 minute cooldown.

[2017-01-25 00:59] Collisionc commented on #3456
Yeah, I was working on fixing all the specs -- https://github.com/simulationcraft/simc/commit/2abd45e2de8f8351c59841bff8b29cffa3cbfd38 should be correct, I added in a large comment on how I came to the values I got for ret.

Are you sure that it should be 4.2 with avenging wrath? If they applied the hotfixes consistently, it should be 1.2 * 2.5 = 3

[2017-01-25 01:18] Collisionc commented on #3455
Does the damage change depending on what they see ?

[2017-01-25 01:34] ghost opened #3457 "Player attempting 'use_item' action with item 'draught_of_souls' which is not currently equipped."
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version

715-02
Nightly Build (2017-01-25 01:59)

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-Files

#### simc_gui.simc file or contents
This file is saved in the same fol

[2017-01-25 01:56] victorsaad00 commented on #3453
Well, the 32 version seens to work pretty well. In a few hours i'll be testing all stuff. If it works out, i post and close the the issue.  Thanks

[2017-01-25 02:30] Jimmy469 commented on #3456
I think we should seek clarity on what "+250% proc rate" means. As I see it, +250% from 1.2 should be
1.2 + (1.2 * 250%) = 4.2

Similarly, +25% means
1.2 + (1.2 * 25%) = 1.5

That's consistent with the snippet that blizzard posted afterwards:
Note: This change should bring Convergence back to roughly its original effectiveness for Ret Paladins who are not using Crusade.

Before any changes, the tr

[2017-01-25 02:33] Cernnunnose123 opened #3458 "After i run a simulation it has stopped providing me with any information."
It worked really well at first. I ran multiple simulation on my Deamon Hunter with different gear just to test it out. I went to run a simulation on my druid and now nothing works. I didnt mess with any setting other than changing my "scaling" options not not include agility but to instead include intillect and changed it from DPS to Raid_HPS.

7.1.5 release 1 Simulationcraft Version

Reproduction

[2017-01-25 03:22] Collisionc commented on #3456
It's possible that ret is a special case, so if you can hit a dummy for a while and find out that'd be great.

The only reason I think it's 1.2 * 2.5 is because of the DK note:

Frost Death Knight
with Empower Rune Weapon: +10% proc rate

In spelldata pulled from the client, the rppm of Frost for CoF went up exactly 10% in the method of 6.0 * 1.1 = 6.6

[2017-01-25 04:27] Collisionc commented on #3457
It's just a warning, ignore it for now.

[2017-01-25 04:27] #3457 closed, assigned to nobody

[2017-01-25 04:30] Collisionc commented on #3458
There is no file attached.

[2017-01-25 05:05] ghost opened #3459 "Simulationcraft is not importing three ranks for cold as ice(fdk artifact trait)"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version 7.1.5

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-Files

#### simc_gui.simc file or contents
This file is saved in the same folder as the program after each simul

[2017-01-25 05:39] Cernnunnose123 commented on #3458
apologies. apparently they dont like the file type.

the file content is as follows:

### Begin GUI options ###
item_db_source=local/bcpapi/wowhead
target_error=0
iterations=10000
default_world_lag=0.1
max_time=300
vary_combat_length=0.2
fight_style=Patchwerk
tmi_window_global=6
target_level+=3
target_race=Humanoid
default_skill=1.0
optimal_raid=0
override.bloodlust=1
override.bleeding=1
override.

[2017-01-25 10:14] Jimmy469 commented on #3456
Here's logs of my testing: https://www.warcraftlogs.com/reports/cwm9DJfxgtQAbykM/#type=auras&ability=31884&view=events

I used AW on CD (using DP talent so no crusade). Times were:
00:01.7
01:43.4
03:08.8
04:34.0
06:04.3
07:24.9
08:54.9

Which leads to CDs of:
1:42 (4 procs)
1:25 (7 procs)
1:25 (7 procs)
1:30 (6 procs)
1:20 (8 procs)
1:30 (6 procs)

Total of 38 procs over 9 minutes, or right about

[2017-01-25 12:48] Maikel1983 opened #3460 "Fire Mage stat weights incorrectly giving haste as most value stat?"
Just ran several sims of type cleave and type patchwerk single target ...
Simcraft suggested to drop my crit down to 51% (from 62%)  and increase my haste on another test on a patchwork fight ......
After rerunning the sim at 51% crit it still gives the highest stat weight to haste ... This doesn't seem to make sense.

currently after first cycle (increasing both dps on 3 targets same level as cas

[2017-01-25 14:03] schnello opened #3461 "[Ass rogue] defiled_augment_rune"
#### Simulationcraft Version
SimulationCraft 715-02
for World of Warcraft 7.1.5 Live (wow build level 23360, git build 15236d7)

#### Reproduction Steps:
Hello.

I use the standard APL and i think the there is a problem with the defiled_augment_rune in the APL

the current line in the APL is:
actions.precombat+=/augmentation,name=defiled

result:
no constant buff

if i change the line to:
actions.

[2017-01-25 14:37] Collisionc commented on #3456
Unfortunately you really need about an hour of testing to get useful data due to how rppm works, which sucks with this trinket because you can't just afk autoattack a boss as I don't think the combat log says anything about the trinket proccing. :\

I'll probably still change it to 4.2, I just wish blizz would be like "hay guyz this is the rppm".

[2017-01-25 14:45] #3461 closed, assigned to nobody

[2017-01-25 23:01] Kazkek commented on #3455
Here is what I got with a GM response. I found logs yesterday that had rogues with 1min 20sec CD and Rogues with 2min CDs I couldnt find exact times of the logs but there might have been a hotfix during the day to change it. Logs today from EU show 2 min CDs. Not sure on the damage but my damage is currently what I posted before.

Not the most comprehensive GM response but still one none the less.

[2017-01-25 23:31] Cernnunnose123 commented on #3458
![simcraft fail](https://cloud.githubusercontent.com/assets/25336610/22313811/23667a84-e324-11e6-8ef3-49db9e9e96b5.jpg)

[2017-01-26 00:21] bitfluxhound commented on #3455
Tested in game on NA servers : http://i.imgur.com/4a2D5yG.png 1 min 20 sec

[2017-01-26 00:32] Frostedmages commented on #3460
This is more of an issue with interpreting results than the sim itself as far as I know. Closing.

[2017-01-26 00:32] #3460 closed, assigned to nobody

[2017-01-26 00:44] Kazkek commented on #3455
https://www.warcraftlogs.com/reports/N9act8TXMCn4yw1r
This was on live yesterday afternoon. 2 min CD. Also here is a rather boring video I just took of the 2 min CD with the damage mentioned before in the tooltip.
https://youtu.be/GrjdlCO0p80

What class was that on bitfluxhound?

[2017-01-26 00:49] Collisionc commented on #3455
Yeah, it's definitely supposed to be 1 minute and 20 seconds.  Also, that is the least useful gm response I've ever seen.

"Looking into the logs, it looks like there's actually a change to the Global Cooldown on Draught of Souls overal :C looks like it's now 2 minutes."

The Global Cooldown (GCD) was hotfixed to 1.5 seconds, he's just talking out of his ass.

Try this to fix the problem in game -

[2017-01-26 00:50] Collisionc commented on #3458
Click on the arrow beside "Cernnunnose: 110730 hpss"

[2017-01-26 00:58] Kazkek commented on #3455
Deleting that did not do anything for me. Still 2 min CD. It was also 2 min CD for Ret paladin in the guild.  Wowhead as well has it at 2 min CD but just a day ago had it at 1min 20s. But I am unsure of where they pull their information, the changelog for 7.2 PTR build has it at 1.33min CD.
http://www.wowhead.com/spell=225141/fel-crazed-rage#changelog

[2017-01-26 01:01] Kazkek commented on #3455
Also the DH in the guild that said it was 1min 20s last night now says its 2 mins. For him it says it does 197k damage every 0.25s for 3s. Thats near the same damage as when I swap to outlaw and sub with the same 2min CD.

[2017-01-26 03:26] Collisionc commented on #3455
It might be a server-specific thing that blizzard screwed up? So far everyone I've asked on Mal'ganis has a 1 minute 20 second cd, as of 30 minutes ago or so.

[2017-01-26 03:34] Collisionc commented on #3459
I believe this was fixed in the last 12 hours or so, can you test the newest download?

http://downloads.simulationcraft.org/?C=M;O=D

top download

[2017-01-26 03:37] Collisionc commented on #3455
Also make sure you are checking this in a raid, apparently it's showing up as a 2 minute cd while attacking training dummys for some unexplainable reason.

[2017-01-26 03:53] Kazkek commented on #3455
Yeah been doing mythic all night and its 2 min so far the whole time.

[2017-01-26 03:58] Collisionc commented on #3455
I don't know what's happening, then. I can add in options to limit the cooldown on the item, but this smells like a blizzard bug more so than anything.

[2017-01-26 04:31] #3453 closed, assigned to nobody

[2017-01-26 04:57] #3458 closed, assigned to nobody

[2017-01-26 05:15] Collisionc commented on #3452
Thanks for reporting, this will fix the damage of quite a few trinkets in cases where the person was wearing that ring.

[2017-01-26 05:29] #3452 closed, assigned to Collisionc

[2017-01-26 05:31] Collisionc commented on #3428
Should work in future releases.

[2017-01-26 05:31] #3428 closed, assigned to Collisionc

[2017-01-26 05:59] FrozenSoviet opened #3463 "[Rogue] Slight improvement to Rogue_Assassination_T19M_NH profile"
Adding the following the neck causes a net dps increase.
neck=zealous_timestone_pendant,id=140894,bonus_id=3519,enchant=mark_of_the_hidden_satyr

See:
![image](https://cloud.githubusercontent.com/assets/24901756/22321361/069f4d34-e362-11e6-81cd-6bfed592e06d.png)

[2017-01-26 06:00] bitfluxhound commented on #3455
I've had it 1:20 as rogue in raid/m+/open world.

[2017-01-26 06:12] Kazkek commented on #3455
Yeah I think the issue is trying to figure out if blizzard intended a 1min 20s or a 2min CD. Conflicting info on both CDs. Its definitely a blizzard bug and sounds most likely a server hotfix thing.

[2017-01-26 06:16] Razoroth opened #3464 "New +200 ring enchants not simming"
disregard. was using item ID pulled from wowhead as the enchant ID.

[2017-01-26 06:34] Collisionc commented on #3396
I think this was added via a pull request.

[2017-01-26 06:34] #3396 closed, assigned to nobody

[2017-01-26 07:05] #3463 closed, assigned to aethys256

[2017-01-26 07:06] aethys256 commented on #3454
This is because you do not use the same target_error for the base simulation and the plot.

[2017-01-26 07:06] #3454 closed, assigned to nobody

[2017-01-26 07:07] aethys256 commented on #3435
Thanks, may you do some test for me ?
Test with 0 AP stacks (no poison) and 5 AP Stacks.

I would like to see if it ignores all target_modifier or just Vendetta.

Thank you in advance.

[2017-01-26 07:08] aethys256 commented on #3441
I see the "bug" but I don't know how to fix it atm.
@navv1234 @mrdmnd Any idea ?

[2017-01-26 10:14] #3464 closed, assigned to nobody

[2017-01-26 12:21] #3435 closed, assigned to aethys256

[2017-01-26 12:23] aethys256 commented on #3435
See my commit: https://github.com/simulationcraft/simc/commit/b912654d60c44031d5df68569de3d39884a32212

This is what I have as result:
9.079 Rogue_Assassination_T19M_NH mutilate_mh hits Fluffy_Pillow for 148097 physical damage (hit)
9.079 Rogue_Assassination_T19M_NH insignia_of_ravenholdt hits Fluffy_Pillow for 97757 shadow damage (crit)
9.079 Rogue_Assassination_T19M_NH mutilate_oh hits Fluffy_Pi

[2017-01-26 14:06] ESRBViolence opened #3465 "Simcraft crashing straight away"
Please include a brief overview of the issue in the title above, as well as completing the following:

I go to launch SimCraft and it first tells me "We have reset your configuration settings due to major changes to the GUI". I have never used SimCraft before but it always tells me this. I hit OK and it launches SimCraft and after 2-3 seconds, it stops responding and closes with no error messages.

[2017-01-26 14:24] aethys256 commented on #3441
This is related to this commit:
https://github.com/simulationcraft/simc/commit/b17d600fc2138a3906273aee0ed4927dcb7b48b7

But I don't know why yet.

[2017-01-26 15:42] Collisionc commented on #3465
https://github.com/simulationcraft/simc/wiki/CommonIssues

Try the third option on this page.

[2017-01-26 16:12] pnmueller commented on #3435
Looks good.

From what I've seen (and just checked again to be certain), it works just fine with AP and the % of the initial hit is the same with and without AP applied. Subsequently AP properly increases the damage of Insignia (but doesn't double-dip).

I haven't tested any other debuffs but that'd indicate it's a bug isolated to Vendetta, possibly because of some internal miscommunication when t

[2017-01-26 16:17] aethys256 commented on #3435
Yes, as I posted on Ravenholdt Theorycrafting channel, only Vendetta "creates" this bug.

[2017-01-26 16:30] ESRBViolence commented on #3465
I don't suppose you know what I need to put in as the variable value? It doesn't seem to say, it just tells me to enter the name.

[2017-01-26 16:55] Collisionc commented on #3465
Set the variable to
software

[2017-01-26 17:43] ESRBViolence commented on #3465
Ahhh, software worked perfectly, thank you very much :D

[2017-01-26 17:45] ghost commented on #3459
Tested, the latest version is showing the proper amount of ranks for cold as ice now. Much obliged for all the work you all do here, thanks can't be said enough.

[2017-01-26 17:50] #3459 closed, assigned to nobody

[2017-01-26 19:56] Collisionc commented on #3465
Glad to hear it!

[2017-01-26 19:56] #3465 closed, assigned to nobody

[2017-01-26 20:01] Thordros opened #3466 "Claw of the Crystalline Scorpid ignoring armor in error"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version

SimulationCraft 715-02 for World of Warcraft 7.1.5 Live (wow build level 23360, git build a181c58)

#### simc_gui.simc file or contents

http://pastebin.com/H6Zc1zKX

#### Reproduction Steps:

[This log](https://www.warcraftlogs.com/reports/68a3Apf7zkHyJQLY/#type=dam

[2017-01-26 21:37] Collisionc commented on #3466
Yeah I meant to revert that, thanks.

[2017-01-26 21:37] #3466 closed, assigned to nobody

[2017-01-26 23:27] Drevneus opened #3467 "SimulationCraft encountered an error! Simulation setup error: Nothing to sim!"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version

715-01

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-Files

#### simc_gui.simc file or contents
This file is saved in the same folder as the program after each sim

[2017-01-26 23:55] Zarania commented on #3442
Fixed in https://github.com/simulationcraft/simc/commit/77521fbde26b1946323690cac1c6478df91c5547

[2017-01-26 23:55] #3442 closed, assigned to Zarania

[2017-01-27 01:11] Collisionc commented on #3441
Fixed here - https://github.com/simulationcraft/simc/commit/5835edceb6ef403a478a1b462b86ee8b4e22160c

[2017-01-27 01:11] #3441 closed, assigned to aethys256

[2017-01-27 04:52] Stanzilla opened #3469 "Include spec and class in pawn string"
Since version 2.1.13 of Pawn (https://mods.curse.com/addons/wow/pawn#t1:changes) it is possible to specify the spec and class in the export/import string to get the class icon/coloring right in the tooltips, would be nice if SimC could automatically do that.

[code]
[code]
[code]
I tested with SimC-Version: simc-715-02-win64-feaaca0 and it was not doing that yet.

[2017-01-27 12:19] cont1nuity opened #3470 "Override option "outside=0" does not seem to work on copy"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version
 715-01-win64 Release

#### simc_gui.simc file or contents
http://pastebin.com/V9S2f0qu

#### Reproduction Steps:
Configure override: outside=0
Profile: http://pastebin.com/6rZEX1BC

#### Result :
The versatility values for the copies "*Neck" differ from what I would

[2017-01-27 18:13] krousey commented on #3456
I don't see any inconsistency between the way @Jimmy469 got 4.2 for ret and the way you got 6.6 for frost.

+10% means 100% + 10% or multiply by 1.1. `6 * 1.1 = 6.6`

+250% mean 100% + 250% or multiply by 3.5. `1.2 * 3.5 = 4.2`

[2017-01-27 18:40] navv1234 commented on #3456
Agreed, indeed it does. The problem is though, when blizzard hot-fixed this newest changes to the data, every hot-fixed value aligns with what they said in the post (where we could see it), except for .. Retribution paladins.

For Retribution Paladins, if we compare the data we have for the client for the Avenging Wrath case (i.e., the non talented one), we actually see that they did not do +250%,

[2017-01-27 20:08] Collisionc commented on #3469
Ok, added.

[2017-01-27 20:08] #3469 closed, assigned to Collisionc

[2017-01-27 20:08] Collisionc commented on #3470
Should be fixed now .

[2017-01-27 20:08] #3470 closed, assigned to Collisionc

[2017-01-28 02:35] Collisionc commented on #3408
Do they cast wrath still? Autoattack?

[2017-01-28 02:42] Neolina1512 opened #3472 "Stat Scaling Option Issue"
715-01 Simulationcraft Version

I have the Stat Scaling option checked but SimC will not let me choose which stats to scale and therefore won't give me a pawn string.

![simc options scale capture](https://cloud.githubusercontent.com/assets/25397357/22393686/4331eab6-e4d1-11e6-861e-78823ad6ade0.JPG)

[2017-01-28 04:06] Collisionc commented on #3472
Click the maximize button

[2017-01-28 07:05] Neolina1512 commented on #3472
thanks!!! I feel silly now...

[2017-01-28 07:06] #3472 closed, assigned to nobody

[2017-01-28 07:20] Slippykins commented on #3408
Yep they function exactly the same as before, with the annoying movement and bad AI. Only change is the stat scaling. From what I've seen ingame it captures Haste, Crit and Versatility ratings, not Mastery as that wouldn't make sense. It also updates those stats with any buffs on the character but has about a 2 second update refresh on stat changes. All stats when the trees are summoned are immedi

[2017-01-28 09:36] Collisionc commented on #3408
Can you find the spell id for the spell they cast? It seems like it changed sometime in the last year.

[2017-01-28 12:16] verthus opened #3473 "no scaling stats"
after downloading the new simcraft 7.1.5 before and after the official release of it whenever i go to the scaling tab in options there are no stat scaled to click on even with the enable scaling box tick the scales don't show up its just blank box and i cant figure out what to do. uninstalling and doing clean uninstalls dosnt work the box is still blank.

[2017-01-28 16:04] Collisionc commented on #3473
Maximize the window.

[2017-01-28 18:38] Collisionc commented on #3446
https://github.com/simulationcraft/simc/commit/5fe3b81bd3d08163459fe86e104f3824236ba8da

Fixed ( i think) here

[2017-01-28 18:57] sparkcoil opened #3474 "[Warrior] Recent Arms APL changes introduced operator precedence errors?"
These two issues are both related to the precedence of the ! (TOK_NOT) operator.  According to engine/sim/sc_expressions.cpp this unary operator has very high precidence, so will bind to the token immediately to its right and not to an expression (unless that expression is itself in parentheses).

First issue:

`actions+=/battle_cry,if=gcd.remains<0.25&cooldown.avatar.remains>=10&(buff.shattered_d

[2017-01-28 19:06] lgkern commented on #3446
Confirmed working now, even for multiple targets.

[2017-01-28 19:06] #3446 closed, assigned to lgkern, Collisionc

[2017-01-28 19:14] Collisionc commented on #3474
I'm trying to figure out what sarri was thinking when he made those lines, and I really can't, but removing the offending parts only reduces the dps by 100~ or so.

[2017-01-28 19:19] #3474 closed, assigned to Collisionc

[2017-01-28 20:42] LeetWizard opened #3475 "All versions of SimCraft crash on launch"
Whenever I try to launch Simulationcraft (any version), it says "We have reset your configuration settings due to major changes to the GUI",. I click 'okay', then it launches for approximately one second before saying 'Simulationcraft has stopped working' and closing itself.

#### Simulationcraft Version 7.1.5, Release 1, 32 bit/64 bit/64 and 32 versions released on the 28th

[2017-01-28 21:00] #3475 closed, assigned to nobody

[2017-01-29 03:02] #3473 closed, assigned to nobody

[2017-01-29 04:28] Collisionc commented on #3447
Will work in the next version.

[2017-01-29 04:28] #3447 closed, assigned to Collisionc

[2017-01-29 08:28] Slippykins commented on #3408
So I've been informed that they don't cast Wrath anymore, and they additionally scale with Int.

So the scaling stats are Intellect, Crit, Haste and Vers. Only auto-attacks.

[2017-01-29 11:35] cont1nuity commented on #3470
Working fine on the latest nightly build for me. Thank you!

[2017-01-29 13:15] Jimmy469 commented on #3456
I'll try to find some time to set up a macro to hit a dummy for an hour or so while hitting AW on CD. We should be able to extract the approx # of procs based on # of wings casts. I probably won't have time to do this for a few days, though.

[2017-01-30 01:07] cuj0cless opened #3479 "Engineering helm use issue"
The on use action of the new engineering helms (Head Shot) shares a Cooldown with action potions in game. This means it can only be used once per combat and that you can't use anymore potions during the fight. When I sim with this helm equipped, it is casting it multiple times during combat (around 7-8 per 450sec) as well as still using the second potion. This inflated my dps by almost 10,000

Sim

[2017-01-30 01:56] cuj0cless commented on #3479
Also this is my first time opening an issue, sorry if i left anything out

[2017-01-30 07:09] seriallos opened #3480 "Infinite Loop in Report Generation (Fury War / HelterSkelter)"
There appears to be some kind of infinite loop in very specific setups in the current legion-dev branch (git hash cfc935c)

I have examples of a specific Fury Warrior which hangs during the HTML report generation.

Example of the hang: https://raidbots.com/simbot/report/HJvQQPnDx

It appears to be the combination of that fury war and the helter skelter fight that cause the error. The following var

[2017-01-30 13:32] Lucifherus opened #3481 "Simulation Craft Crash on start-up (windows 7 64)"
Hello, I have an issue about crashing on start-up whit Sim craft , only the lastes version, ( 71.5. release 1) I already tried to use 64 bit and 32 bit, already tried to use zip file and autoinxtalling files...
Here my dxdiag and msinfo files.
[DxDiag.txt](https://github.com/simulationcraft/simc/files/739018/DxDiag.txt)
[msinfo.txt](https://github.com/simulationcraft/simc/files/739019/msinfo.txt)

[2017-01-30 17:17] kiyal21240 opened #3484 "[Assassination Rogue] more optimal energy usage & food depending on talents"
line 6727 in sc_rogue
`build -> add_action( this, "Mutilate" );`

for a more optimal (and for a more realistic in-game) energy usage (as we pool energy before using kingsbane) I suggest changing the above line to:
`build -> add_action( this, "mutilate,if=(debuff.vendetta.up)|(debuff.kingsbane.up)|(set_bonus.tier19_2pc=1&dot.mutilated_flesh.refreshable)|(energy.deficit<=22&target.time_to_die-remain

[2017-01-30 17:44] Collisionc commented on #3481
Most likely the third option here will help you - https://github.com/simulationcraft/simc/wiki/CommonIssues

[2017-01-30 23:57] Lucifherus commented on #3481
Thx you for your fast answer.
IT WORKS NOW!
THANK YOU SO MUCH!

[2017-01-31 00:33] Collisionc commented on #3481
Glad to hear!

[2017-01-31 00:33] #3481 closed, assigned to nobody

[2017-01-31 00:34] Collisionc commented on #3480
Ok, should be fixed - https://github.com/simulationcraft/simc/commit/df22a0efb56a2dae56bf8118dff9afc19b2e2a81

[2017-01-31 00:34] #3480 closed, assigned to Collisionc

[2017-01-31 13:33] Meatwookie opened #3487 "[SV Hunter] Steel Trap duration and Initial Tick"
After some Ingame testing
Steel Trap results in 38 seconds and 20 ticks
Means there is an initial tick and the duration on Tooltip+SimC is wrong

[2017-01-31 18:36] iLorentz opened #3488 "Assassination Rogue APL optimization for Draught of Souls and Convergence + Legendary boots combo"
#### Simulationcraft Version
715-02

#### Changes:

For Draught of Souls it is a moderate DPS gain to use line
actions.cds+=/use_item,slot=trinket1,if=!debuff.kingsbane.up&energy.time_to_max>4
instead of default one

Also for CoF and Boots combo it's better to change slightly Vendetta usage, new line looks like that
actions.cds+=/vendetta,if=!talent.exsanguinate.enabled&(!artifact.urge_to_kill.ena

[2017-01-31 22:25] lucasogit opened #3489 "Sephuz secret not simulating properly for fire mage"
Since nighthold has a lot of add fights I want to see if sephuz is better than prydaz, but the HecticAddCleave simulation is not accounting for a sephuz proc at all.

[2017-01-31 23:16] Frostedmages commented on #3489
Use the frost_nova action to proc it.

[2017-01-31 23:16] #3489 closed, assigned to nobody

[2017-02-01 01:33] Kazkek commented on #3455
Well the trinket was hotfixed today to be 1 min 20s and the damage is on par with what is on Simc now. Although I think its a little lower than what I see in Simc. On live it looks to be 158k to 175k on my tooltip now.

This morning it was 2mins in raid so it must of went out with the hotfixes.

[2017-02-01 08:12] aethys256 commented on #3324
@Hebilicious Pull Requests should have fixed this.

[2017-02-01 08:12] #3324 closed, assigned to aethys256

[2017-02-01 08:13] aethys256 commented on #3324
https://github.com/simulationcraft/simc/pull/3471

https://github.com/simulationcraft/simc/pull/3478

[2017-02-02 05:12] antonychan11 opened #3490 "Rogue Wound Poison damage incorrect"
[simc_report.txt](https://github.com/simulationcraft/simc/files/746865/simc_report.txt)
It seems that Wound Poison when used in Simc, the damage is much lower than what it does in live server.

I would like this to work because Wound poison seems to do higher DPS than Deadly in signal target fight while using Alacrity talent. Proving it in Simc would be great.

Wound poison damage should be around

[2017-02-02 08:26] darkfreak opened #3492 "Royal Dagger Haft not showing"
Please include a brief overview of the issue in the title above, as well as completing the following:

When running sims with the trinket 'Royal Dagger Haft' (id=140791) it does not show the trinket's proc (absorb shield dealing absorbed dmg as DoT).
The 10 second debuff you get is called 'Sands of Time' (id=229457).

It also gives a second debuff, also named 'Sands of Time', for 6 minutes after i

[2017-02-02 08:49] nasirabtw opened #3493 "Soul Harvest - Soul Effigy interaction"
Soul Harvest is a buff that has a duration based on the # of active agonies when the buff is cast. However, agony on soul effigy does not add duration, only 'real' targets do. So we need a way to take get_active_dots and remove effigy from the equation.

Ln 5131 for the relevant struct.

[2017-02-02 08:55] nasirabtw opened #3494 "Magistrike Restraints"
http://www.wowhead.com/item=132407/magistrike-restraints

Was never coded because I don't know how to handle target vector stuff.

The chaos bolt fired has a different spell id but functions the same. It applies eradication on impact.

http://www.wowhead.com/spell=213229/chaos-bolt

[2017-02-02 11:12] nuoHep commented on #3487
So... it does not actually have an initial tick.

https://gist.github.com/nuoHep/c59a3f61b1a2f1d058984e9fffaefccc
As you can see in both cases the trap lasts for ~39 seconds (AURA_APPLIED -> AURA_REMOVED), 9 extra seconds which give 4 full and 1 partial tick (the last one).
Now, the funny thing is the AURA_REFRESHED event right after AURA_APPLIED which perfectly explains all of this. It triggers "

[2017-02-02 14:27] 5joono opened #3495 "Algorithmic Bug on Arcane Mage without talent Charged Up"
This problem occurred on 715-02(x64) version.
If I don't use talent Charged Up, simc doesn't use evocation forever....
Perhaps the Action Priority list should be modified like this:

actions.burn+=/arcane_barrage,if=(equipped.132451&cooldown.charged_up.remains=0&mana.pct<(100-(buff.arcane_charge.stack*0.03)))

=>

actions.burn+=/arcane_barrage,if=(talent.charged_up.enabled&equipped.132451&cooldown

[2017-02-02 15:20] Elandrielle opened #3496 "Fury DPS bug!??"
I tried to sim my char with the last official build from the "Downloads" page.
It was about 735k DPS.
Today I tried the "newest" build.
It was about 686k DPS.
49k missing, without any hotfix!?
Please tell me, what i do wrong.

[2017-02-02 16:18] Collisionc commented on #3496
Can you link your armory? It's probably an item.  Since the last official build they nerfed draught fairly significantly for Fury, since it's now on the GCD.

[2017-02-02 16:55] Frostedmages commented on #3495
Your SimC is out of date, this was fixed awhile ago. Be sure to grab the most recent nightly from downloads.simulationcraft.org

[2017-02-02 16:55] #3495 closed, assigned to nobody

[2017-02-02 17:51] atakancehri opened #3497 "OS X, Crash when simulation %100"
Process:               SimulationCraft [2039]
Path:                  /Users/USER/Desktop/*/SimulationCraft.app/Contents/MacOS/SimulationCraft
Identifier:            com.googlecode.simulationcraft
Version:               SimulationCraft Qt for OSX [4e1343e9b] (715.01)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           SimulationCraft [2039]
User ID:

[2017-02-02 18:07] Elandrielle commented on #3496
http://eu.battle.net/wow/de/character/thrall/Elandrielle/simple

I don´t got draught. Don´t know which item could be abt 50k

[2017-02-02 18:31] Collisionc commented on #3496
Looks like an action list change I made was a dps decrease for your character but not other characters. I'll see if I can fix it.

[2017-02-02 19:00] Elandrielle commented on #3496
Thx a lot

[2017-02-03 06:25] Bunnychaser999 opened #3498 "Custom On Use Damage not working."
When adding a custom on-use to a trinket for dps purposes, (Attempting to simulate Archimonde's Hatred Reborn) simc throws off an error stating;
"Baseline no buff or action found for effect '' on item 'custom_trinket'
Unable to initialize item 'custom_trinket' on player 'Baseline'
Simulation has been canceled during player setup! (thread=0)
Player Baseline has 'use_item' action with no custom buff

[2017-02-03 12:21] nuoHep commented on #3487
Merged

[2017-02-03 12:21] #3487 closed, assigned to nuoHep

[2017-02-03 12:39] Gebuz commented on #3408
From beta blue post:
"Force of Nature now has attack power equal to 300% of your spellpower, and it also has your crit, haste, and versatility."

source: http://blue.mmo-champion.com/topic/409203-theorycrafting-questions/

I want to say that their default swing timer is 1.5 seconds, but I'm not sure, so probably better to test to make sure this is correct.

I believe the stealth buff in 7.1.5 was

[2017-02-03 12:46] Gebuz commented on #3408
On snapshotting: It seems that they update every few seconds, but it does not seem very consistent. Unless someone knows exactly how this works  I think modeling them assuming that they just snapshot on cast or on cast and every X seconds for the duration seems reasonable.

[2017-02-03 17:58] Elandrielle commented on #3496
With the newest build
"SimulationCraft 715-02
for World of Warcraft 7.1.5 Live (wow build level 23360, git build cf18572)"
It´s 705k with 54 Traits now.
Still ober 30k missing.
Hope you can fix it :)

[2017-02-04 02:55] Clayn083 opened #3501 "Crashing while region change"
Hello,

I've never used simcraft before but downloaded the newest version (715-01) for win 64bit to get an indepth look on my character. My problem is I'm not even able to simulate a character, since the program is always crashing when I change the region from US  to EU. I'm also using the simcraft addon which offers me ingame this big wall of text I can simply copy & paste into the simulation win

[2017-02-04 12:13] navv1234 commented on #3498
This is a (long standing) known issue, when we transitioned to a system where special effects can be automatically deduced from Wow client data in some cases. I have something locally that will bring back this functionality, but I need to look into some related things before I add it.

[2017-02-04 18:52] Collisionc commented on #3496
This is fixed in the newest update, and it should actually be a little bit higher than before.

[2017-02-04 18:52] #3496 closed, assigned to nobody

[2017-02-04 18:53] Collisionc commented on #3408
https://github.com/simulationcraft/simc/commit/0c08f2d220c9fd0cb64d989d6b4143f3e1376e4b

some work done there, i'll get it finished up today hopefully

[2017-02-05 04:56] Runaria1 opened #3504 "Blood Thirsty insticts"
Please include a brief overview of the issue in the title above, as well as completing the following:
The trinked blood Thristy instincts is not given the correct proc value on the current version of simcraft it shows the proc amount of 5.3k on the Mythic 880 version aswell as a 4.3k proc amount on the 865 version
The mythic one Procs for amount of 3.2k and the normal has a proc of 3k. Thus greatl

[2017-02-05 06:01] Wolfy2032 opened #3505 "Kil Jaedens Burning Wish Not being used or tracked in sim"
For some reason when I sim my Dh using the new kil jaedens burning wish it isnt using the on use ability. If it is its not being listed on the damage sources.

[2017-02-05 16:14] Jundarer commented on #3344
I don't know what exactly went wrong but in a patchwerk fight there is still just one application of mf and sf over 5 mins even though that is impossible in game.

[2017-02-06 00:27] schaefer-dev commented on #3501
I have exactly the same issue right now!

[2017-02-06 03:19] #3455 closed, assigned to nobody

[2017-02-06 07:19] serrufs opened #3509 "HPS Guardian wtf?"
715-02 what HPS Guardian?

http://jpegshare.net/images/19/01/1901ed1c2a538e90fe8e406d02fbc452.jpg

[2017-02-06 11:07] nuoHep commented on #3504
Where do you see it?
It gives the correct value as far as I can tell
[code]
(mythic version)

[2017-02-06 15:56] Kezedj opened #3510 "General questions"
Hi,
I found no other place to ask the following question, as http://simulationcraft.org/ bug report link drove me here immediately. How efficient is SimC for previous versions of WoW? I'm currently playing on a private server (WotLK, 3.3.5), and I'd love to do some theorycrafting, but I'd like to know beforehand if SimC is suited for that version of the game.
Thanks very much in advance,

[2017-02-06 19:24] Zarggg commented on #3510
SimC is developed for the current and PTR versions of WoW. Do not expect results to match those on unauthorized servers or versions of the game client.

[2017-02-06 19:29] lgkern commented on #3505
Are you using a custom Action Priority List or the default one? If you're using your own APL, you need to add a use for it manually, otherwise it should handle the usage for it automatically.

[2017-02-06 19:40] Mohlinger opened #3511 "PALA [Holy] is using an unsupported spec"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version
SimulationCraft 7.1.5, release 1

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-Files
No funktion!
------------------------------------------------------------------

[2017-02-06 19:53] Zarggg commented on #3511
None of the healing specs are supported because no one has come forward to develop them.

[2017-02-06 21:25] Wolfy2032 commented on #3505
I am not using a custom

On Feb 6, 2017 2:29 PM, "Lucas Kern" <notifications@github.com> wrote:

[2017-02-06 23:52] nasirabtw opened #3512 "Soul Effigy Target Multipliers"
Contagion isn't applying the damage increase to damage from soul effigy. Terryn used an active action kludge to get the damage from effigy to proc trinkets (the damage is actually allocated to the player in-game), and since then target multipliers have not been applying.

The intended functionality is that if you have a target multiplier debuff (in this case contagion) on the target effigy is boun

[2017-02-07 02:16] Collisionc commented on #3408
Ok, you'll need to check the damage of the pets to see if it matches in-game.  It should be fairly close... but there could be something I'm missing.

[2017-02-07 03:53] Collisionc commented on #3493
That should do it.

[2017-02-07 03:53] #3493 closed, assigned to Collisionc

[2017-02-07 05:40] Collisionc commented on #3494
You'll probably wanna check that, but it looks like it works ok to me.

[2017-02-07 05:40] #3494 closed, assigned to Collisionc

[2017-02-07 09:57] Kezedj commented on #3510
Ok, thanks for the quick answer man :-)

[2017-02-07 15:16] Frostedmages commented on #3510
There are old versions of SimC cached on the downloads.simulationcraft.org page. Additionally the commits go back to the start of things I think? You could probably grab one of those old versions or checkout and build from a super old commit if you really wanted to.

[2017-02-07 18:58] nasirabtw commented on #3512
Fixed in 2bbaf64b71b8ab13315adcbf758e629e27081123

[2017-02-07 18:58] #3512 closed, assigned to Collisionc

[2017-02-08 10:18] Zuliane commented on #3504
It's just a tooltip issue while mouseovering the proc. See: http://imgur.com/a/VvDGR (890 version)

[2017-02-08 12:03] lgkern commented on #3511
As Zarggg and the error said

Since no one steps up to implement/maintain it.

[2017-02-08 12:05] lgkern commented on #3509
Please provide  more details on what you were doing.

Most tank specs are not currently supported by anyone, so all info you might gather from tank spec sims might be wrong.

[2017-02-08 12:23] vituscze opened #3513 "Distance override does not work"
Profile:

[code]

`base.distance` is set to 10 before `mage_t::init_base_stats` is called (which sets it to 30, undoing the effect of `distance=10`).

[2017-02-08 13:19] lgkern commented on #3419
Since UA can have many applications in the same target, you need to check for them separetely, like
`if=dot.unstable_affliction_1.ticking`

[2017-02-08 13:20] #3419 closed, assigned to nobody

[2017-02-08 13:51] serrufs commented on #3509
Nothing special I do not. Simply import from the World of Warcraft using the addon. And inserted into the data simulationcraft. HPS no longer properly be considered, after I updated  from 710-03 to 715-02.

[2017-02-08 15:50] N1gh7h4wk commented on #3505
How did you import the toon with the trinket? via armory or addon?

[2017-02-08 15:52] Wolfy2032 commented on #3505
Used the simcraft addons in game to copy and paste the gear after importing
the armory

On Feb 8, 2017 10:50 AM, "N1gh7h4wk" <notifications@github.com> wrote:

[2017-02-08 15:53] lgkern commented on #3505
Can you link your armory so we can try to reproduce it?

[2017-02-08 15:54] Wolfy2032 commented on #3505
On my phone right now but i am glaiveheart from zuljin us

On Feb 8, 2017 10:53 AM, "Lucas Kern" <notifications@github.com> wrote:

[2017-02-08 22:56] NostalgiaX opened #3515 "Havoc Demonhunter simulation is/seems incorrect"
Simulationcraft Version : 7.1.5 -01

Was running a simulation on my havoc demonhunter, and noticed some strange things. First of all, under resources, it sees my max fury as being 110, though it is 130. This is an import error, but don't know why it happens.

Secondly, I find it hard to understand that Fel rush should be used, it moves you out of position, and does less damage than throwglaive (at

[2017-02-08 23:01] Nophobia opened #3516 "SimC Locks/Freeze/Crash Computer."
Just started. I have ran several hundred if not thousands of sims and now every time I run SimC I receive a Overheating message of 65C and then computer locks up and have to do a hard boot to restore.

I have uninstalled and reinstalled.

I have followed several troubleshooting guides posted on these formals. No prevail.

#### Simulationcraft Version

715-01

#### If Simulationcraft is crashing, p

[2017-02-09 04:19] sparkcoil opened #3517 "[Warrior] Fury APL operator precedence error"
This issue is related to the precedence of the ! (TOK_NOT) operator. According to engine/sim/sc_expressions.cpp this unary operator has very high precidence, so will bind to the token immediately to its right and not to an expression (unless that expression is itself in parentheses).

`actions+=/dragon_roar,if=(equipped.convergence_of_fates&cooldown.battle_cry.remains<2)|!equipped.convergence_of_f

[2017-02-09 05:44] You-Too opened #3518 "Kil'jaeden's Burning Wish defaults to lining up with dps cooldowns"
Simulationcraft version: simc-715-02-win64-5674e80
Item: http://www.wowhead.com/item=144259/kiljaedens-burning-wish

The issue is with how Simc defaults to line up the trinket active with dps cooldowns.
In the game, the active ability on the trinket will do the same damage no matter if you have a dps cooldown buff or not. Apparently it doesn't scale or get buffed by anything. It just hits for the

[2017-02-09 12:57] zhangyun123 opened #3519 "123"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-Files

#### simc_gui.simc file or contents
This file is saved in the same folder as the program after each simulation.

[2017-02-09 13:00] Loktark opened #3520 "Cinidaria legendary not triggering off of Blade flurry"
Please include a brief overview of the issue in the title above, as well as completing the following:

Blade flurry is not triggering the increased damage from cinidaria against targets above 90% life in the simulation. Blade flurry does trigger this damage during in game testing.

#### Reproduction Steps:

This issue can be easily replicated by running a multi target simulation as outlaw with cin

[2017-02-09 13:12] #3519 closed, assigned to nobody

[2017-02-09 14:22] AzhiDahaki opened #3521 "My simcraft freezes when i open it"
Im trying to simcraft my character on WoW, but the simcraft keeps freezing when i open it, how should i procede.
[DxDiag.txt](https://github.com/simulationcraft/simc/files/763901/DxDiag.txt)

[2017-02-09 16:27] Zyrius128 opened #3522 "Rogue Assassination APL Optimizations"
Worked on a few changes on the Assa APL and this is what i got so far:
I noticed current APL is still using Vers food instead of Mastery, to balance AP and Exs, but since Exs isn't used anymore and Alacrity uses Mastery too, the base food should be changed.
actions.precombat+=/food,name=nightborne_delicacy_platter

A line for Draught of Souls, that saves DoS for 5 Stacks of AP, SoT (with AP), and

[2017-02-09 16:36] Bupkiss opened #3523 "Speed of simmin."
Everything I'm reading says simming should be done in a very short amount of time. Apparently not for me. It takes anywhere from 10-20 minutes to finish. Any recommendations?

While my rig is definately not state of the art it is more than enough to handle WoW and run multiple applications on my second screen. Just wanna know if there is something I'm missing.

Thanks!

[2017-02-09 20:15] NostalgiaX commented on #3523
In the options menu you can chose how big of a priority that Simulcraft has, in other words, how much power it can take from the system, maybe take a look at that. Also, enabling scaling plots increases the simulation time drastically, so if that is on, consider turning it off. That's the only thing I can think of.

[2017-02-09 21:50] mrdmnd commented on #3520
@Aethys256 - I think this could potentially be related to the issue we fixed a while back with delayed execute on blade flurry not counting mastery right.

[2017-02-10 04:18] ZeroStride opened #3526 "SV Hunter: Aspect of the Skylord seems to be adding 0% damage"
Aspect of the Skylord should add 30% damage however the generated spell data seems to indicate it will add 0% damage

`{ "Aspect of the Skylord"             , 203927, 0x0000000000000000, 0.000000, 1, 0x000, 0x000, 0, 0, 0, 0, 0.000000, 0.000000,       0, 0, 0, 0, 0,    0, 10000, 0, 0, 0, 0, 0, 0.000000, 0, 0, 0, 0, 0, 0, 0, 0,      0, { 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 }, { 0, 0, 0, 0 }, 0, 0x00

[2017-02-10 08:35] mick19955 opened #3527 "Survival: Frizzo fingertrap"
Frizzo  doesnt spread a copy of lacerate to another target, but rather applies a new fresh lacerate

[2017-02-10 08:38] nuoHep commented on #3526
Running a simple spell query shows
[code]
I'm not even sure how you concluded the 0% from the quote (considering that most of the spell numbers are usually in the effects).

[2017-02-10 08:49] nuoHep commented on #3527
-ENOPARSE

Will check

This is already taken care of in the else case ( https://github.com/simulationcraft/simc/blob/legion-dev/engine/class_modules/sc_hunter.cpp#L4100 )

[2017-02-10 08:51] mick19955 commented on #3527
Yeah, somehow managed to completely overlook the else case

[2017-02-10 09:15] navv1234 commented on #3520
This has really nothing to do with Blade Flurry, but rather how we treat "procs" in general. As it stands, this specific case (Cinidaria) needs a different kind of implementation in the simulator, that bypasses some of the restrictions we have set on things that can proc from other things.

I have a ballpark idea in my head on what to do, but I need to find time to do it.

[2017-02-10 16:46] Gebuz commented on #3408
ran a few sims today, it needs a ~14.5% buff to match up with in game numbers just looking at the dmg per melee swing (looking at only normal hits, not including crits to reduce variance). I tested it with different gear to make sure the difference was consistent (removed 2 int trinkets, then 2 trinkets and neck + helm):
in game dmg per swing - sim dmg per swing - percent buff to make up the diffe

[2017-02-10 19:52] ZeroStride commented on #3526
This was an incorrect bug report.

[2017-02-10 19:52] #3526 closed, assigned to nobody

[2017-02-10 19:53] ZeroStride opened #3528 "SV Hunter: Aspect of the Skylord is a separate buff from Aspect of the Eagle in WoW client"
Aspect of the Skylord is implemented in game as a separate buff (203927), so it should show up in the Dynamic Buffs as its own spell. Currently just Aspect of the Eagle is shown.

#### Simulationcraft Version
HEAD

[2017-02-10 20:06] nuoHep commented on #3528
But why? It has the same duration as AotE and is basically just an additional "effect" of it (which is modeled in simc)

[2017-02-10 20:09] ZeroStride commented on #3528
Yep, understood. Closing. Thanks again.

[2017-02-10 20:09] #3528 closed, assigned to nobody

[2017-02-10 20:20] EvanMichaels commented on #3515
Fel Rush should do more damage than Throw Glaive, even without Fel Mastery. Additionally, Fel Rush has a smaller than normal GCD so the opportunity cost is lower even if it moves you slightly out of position.

Given that Old War is RPPM, I don't think DoS should really affect it in any meaningful way even if it didn't proc, especially since you melee during the DoS channel.

Not sure what the issu

[2017-02-10 20:21] EvanMichaels commented on #3505
Default APL definitely has support for KJBW so it should be getting used if you import from the armory or use the addon. I have tested this as I have the trinket myself.

[2017-02-10 20:49] NostalgiaX commented on #3515
Just tested in-game, and you are correct. My original comment was based on Fel Rush tooltip saying 152k dmg, and throwglaive 192k. Guess it has a difference whether it's chaos or physical damage.

About the DoS, I don't know, you might be right. I only figgured it would be an issue, since using DoS prevents you from using, say, Chaos Strike, and therefore only have your auto attacks to rely on.

[2017-02-10 20:51] EvanMichaels commented on #3515
Yes, Throw Glaive is reduced by armor while Fel Rush is not, so the actual values will be lower when used on a target.

[2017-02-11 12:48] Sinister13Rain opened #3529 "SimulationCraft crashing just before completing simulation"
#### Simulationcraft Version 715-01

[DxDiag.txt](https://github.com/simulationcraft/simc/files/768391/DxDiag.txt)

[simc_gui.zip](https://github.com/simulationcraft/simc/files/768392/simc_gui.zip)

I used the addon as well. As the tittle suggests, I copy the text into the SimCraft, press simulate and I can see he does something and just about it finishes the program crashes. Tried all compatibili

[2017-02-11 14:14] metlin123 opened #3530 "Everytime i open Simc i get an error and the program crashes."
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version - 715 - 01

#### If Simulationcraft is crashing, please include your dxdiag file -
[DxDiag.txt](https://github.com/simulationcraft/simc/files/768445/DxDiag.txt)

#### simc_gui.simc file or contents-  i couldnt find a folder/file called that

#### Reproduction Steps: I

[2017-02-11 15:51] Sammarian opened #3531 "Can't import / Could not find spell data / Kiljaedens"
Please include a brief overview of the issue in the title above, as well as completing the following:

Using 710-03.

I've never used Simulationcraft before but I thought the set-up seems pretty easy and similar to AskMrRobot.  I've downloaded the addon and have the SimulationCraft program.

Whenever I try to import my character (Chartos, Azgalor), I get the following message.  I get the same mess

[2017-02-11 16:04] Sammarian commented on #3531
I = Idiot.  Apparently I had downloaded the 7.1 version instead of 7.1.5....when Kiljaden's introduced.  Leaving this here in case someone else does something similarly knuckle-headed

[2017-02-11 16:04] #3531 closed, assigned to nobody

[2017-02-11 16:41] Archernick opened #3532 "[Survival Hunter] Aspect of the Eagle is still not providing its +20% Crit increase."
Please include a brief overview of the issue in the title above, as well as completing the following:

SimulationCraft 715-02 (wow build level 23360, git build c5c2d5d)

Sim without Convergence of Fates (8 casts of Aspect of the Eagle): http://pastebin.com/PCBgtDUU
Sim with Convergence of Fates (11 casts of Aspect of the Eagle): http://pastebin.com/v2pdCqPt

Reproduction Steps:

I believe this is

[2017-02-11 20:11] Archernick commented on #3532
If you need anymore information - let me know. Will answer asap.

[2017-02-11 20:41] nuoHep commented on #3532
It does?
[code]

[2017-02-11 20:51] nuoHep commented on #3532
And even simming your profiles (without scale factors and with default combat length) gives
```mongoose_bite          Count=117.1|  2.54sec  DPE= 609478|36%  DPET=544196  DPR=    0.0  pDPS=238387  Miss=0.00%  Hit=451152|140656|925158  Crit=958751|281312|1850317|31.2%```
for the first one and
```mongoose_bite          Count=110.7|  2.68sec  DPE= 617913|35%  DPET=551491  DPR=    0.0  pDPS=228537  Mi

[2017-02-11 21:00] Archernick commented on #3532
Then why do I get 52 crits with Mongoose Bite between both sims, when one sim gives me 3 extra casts of Aspect of the Eagle? Surely I should see more crits?

[2017-02-11 22:05] Sparrow1988 commented on #3231
As strange as it sounds go and check if u have both 32 bit and 64 bit visual c++ packages cause I had been missing one that was 32 bit and instaled it and that solved my problem with simcraft. Hope that helps.

[2017-02-11 23:01] Archernick commented on #3532
It's now believed that the 20% crit is applying, but there are other issues that are contributing to the strange results. So I'm closing this and will open other reports with the new-found issues. (thanks NuoHep for the discussions!)

[2017-02-11 23:01] #3532 closed, assigned to nobody

[2017-02-11 23:22] Archernick opened #3533 "[Survival Hunter] Animal Instincts talent ignores Mongoose Bite proc if the ability isn't at 0 charges."
Please include a brief overview of the issue in the title above, as well as completing the following:

SimulationCraft 715-02 (wow build level 23360, git build c5c2d5d)

#### simc_gui.simc file or contents

http://pastebin.com/46gtrNqU

#### Reproduction Steps:

The Animal Instincts talent appears to ignore reducing the cooldown of Mongoose Bite if it doesn't have 0 charges. Here are the results o

[2017-02-12 01:07] Archernick commented on #3533
The issue has been identified and committed. Closed.

[2017-02-12 01:07] #3533 closed, assigned to nobody

[2017-02-12 03:57] Thordros opened #3534 "Might of Krosus - Guaranteed Critical Strikes Not Working, Ret Module APL Optimization"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version
SimulationCraft 715-02 for World of Warcraft 7.1.5 Live (wow build level 23360, git build c5c2d5d)

#### simc_gui.simc file or contents
http://pastebin.com/b10Xnr27

#### Reproduction Steps:
There are two issues with Might of Krosus' current implementation:

1) Its on

[2017-02-12 06:08] Collisionc commented on #3530
Option 3 here -  https://github.com/simulationcraft/simc/wiki/CommonIssues - should fix this.

[2017-02-12 06:17] Collisionc commented on #3534
Ok, added that in, thanks.

[2017-02-12 06:17] #3534 closed, assigned to Collisionc

[2017-02-12 06:19] Collisionc commented on #3523
What are your system specs and what are you simulating?

[2017-02-12 06:19] Collisionc commented on #3521
https://github.com/simulationcraft/simc/wiki/CommonIssues - option 3 should help

[2017-02-12 07:12] Collisionc commented on #3513
Ok, should work better now.

[2017-02-12 07:12] #3513 closed, assigned to Collisionc

[2017-02-12 07:56] Collisionc commented on #3408
The only place I can think of where 14.5% damage would come from is the 15% from your artifact. Can you test that by trying it with a different weapon ?

[2017-02-12 07:57] #3467 closed, assigned to nobody

[2017-02-12 08:00] Collisionc commented on #3529
https://github.com/simulationcraft/simc/wiki/CommonIssues

Option 1 is the answer, your dxdiag mentions LavasoftTcpService64.dll - this is a very common piece of malware that crashes simulationcraft's gui

[2017-02-12 09:35] Sinister13Rain commented on #3529
Thank you for your comment Collisionc, all I did was to remove Web-Companion then it worked.

[2017-02-12 09:35] #3529 closed, assigned to Collisionc

[2017-02-12 17:59] Collisionc commented on #3516
AMD FX(tm)-9590 Eight-Core Processor (8 CPUs), ~5.0GHz

With that space heater of a cpu, I would double check cooling on the cpu. Dust out the pc, check and make sure the cpu cooler is mounted properly, see if any fans are failing, etc.

Try running speccy - https://www.piriform.com/speccy/download/standard - while running the simulation and see exactly how high the temperatures go before it locks

[2017-02-12 23:13] Gebuz commented on #3408
Yep, that'd be it, numbers match up when testing without artifact.

[2017-02-13 01:23] Collisionc commented on #3408
alrighty, it should 99.99% match now, but please double check the latest download here - http://downloads.simulationcraft.org/?C=M;O=D - to make sure.

[2017-02-13 04:14] ghost opened #3539 "Cant Simulate bcs new Legendarys are missing in this App!"
cant Simulate my DPS becaues i got a new legendary and it says he cant find this Item which i wear currently on my character

pls import the new legendarys !

[2017-02-13 14:09] xfrenzie opened #3541 "Sephuz's Secret not showing up as a buff with successful interrupts"
#### Simulationcraft Version - 715-01

I am trying to simulate gaining the buff from Sephuz's Secret via interrupt during my sims.

I am getting successful interrupts but I am noticing that I am not seeing the buff appear in my sims.

I know i saw that the buff has been added the DPS profiles, but I can't seem to make it work.

[2017-02-13 14:22] Ntrz33 opened #3542 "Error after attempting to simulate"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version
715-02

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here -
[DxDiag.txt](https://github.com/simulationcraft/simc/files/771307/DxDiag.txt)

gives the error: Unable to open output file 'C:/Program Files (x86)/simc-715-02-win64\simc

[2017-02-13 15:42] nuoHep commented on #3541
What class(es)?

[2017-02-13 15:44] lgkern commented on #3539
All legendaries should be working for all DPS classes. Please provide more details, like which legendary, which class/spec, how are you importing the item, etc.

[2017-02-13 16:11] Gebuz commented on #3408
yep, spot on now, thanks :)

[2017-02-13 16:32] xfrenzie commented on #3541
Sorry, demon hunter.

[2017-02-13 16:39] ghost commented on #3539
My steps to simulate are:

 

Siimulation -> copy my stats from wow -> paste it in the simulation window -> press simluate -> result

anything wrong ?

 

PS: i sent a picture whit the current issue i have its the Legendary "Kil'Jaedens burning wish he couldnt finde on my mage

 

Gesendet: Montag, 13. Februar 2017 um 16:44 Uhr
Von: "Lucas Kern" <notifications@github.com>
An: simulationcraft/simc

[2017-02-13 19:19] ssateneth commented on #3539
Find simc_gui.simc file (its located where simulationcraft.exe is located) and attach a copy here. Will be better able to find the problem then.

[2017-02-13 19:35] lgkern commented on #3539
(Attach the copy in the actual thread on Github.com and not on the email reply)

[2017-02-13 21:09] EvanMichaels commented on #3541
This was fixed in the following commit: https://github.com/simulationcraft/simc/commit/7595449155279bfaee48a8a7656d4d7d1628ca36

If you run 715-02 it will be working. Thanks!

[2017-02-13 21:09] #3541 closed, assigned to nobody

[2017-02-13 22:28] EvanMichaels commented on #3518
Yeah KJBW only benefits from target debuffs, so personal damage buffs won't do anything.

[2017-02-13 23:31] Wolfy2032 commented on #3505
it started working today

On Fri, Feb 10, 2017 at 3:21 PM, Evan Michaels <notifications@github.com>
wrote:

[2017-02-14 09:32] iPilot opened #3543 "[Druid][Balance] Starfall double haste-scaling"
I've noticed overvalued haste on 10-target-run.

Source code doesn't contain any starfall duration dependings on players haste. Assuming that starfall it's a simple area effect like consecration is wrong.

Starfalls duration must decrease depending on players haste.

[2017-02-14 09:35] Zuliane commented on #3407
Spitting_Cobra still does not match live data. In SimC it does not benefit from the 30% damage amplification of aspect_of_the_eagle/aspect_of_the_skylord and the 20% of mongoose_power.

With AotE and Mongoose Power: http://i.imgur.com/6pp6qUH.png
Without AotE and without Mongoose Power: http://i.imgur.com/8LWFW2O.png
Live: https://www.warcraftlogs.com/reports/rtJPyTWV1ahLc2MD#fight=9&type=damage-d

[2017-02-14 10:46] havoccc commented on #3501
![capture](https://cloud.githubusercontent.com/assets/25767526/22926020/cecb4430-f2a2-11e6-9741-9c8fc60b315f.JPG)
I also have this problem and I find it does it when trying to import from battlenet.  I have tried disabling the antivirus too and still no joy :(

[2017-02-14 11:25] Wunjuh opened #3544 "ROGUE - Assassination deadly poison 30% boss health!"
To Aethys:
This is following our talk in discord about trying to see if applying deadly poison <30% boss health with zoldycks bracers would be a benefit, you suggested:

actions=apply_poison,lethal=deadly,if=target.health.pct<=30&!buff.deadly_poison.up
actions+=/call_action_list,name=cds

Which gave the error:

Player Wunju action apply_poison : Unable to decode expression function 'buff.deadly_po

[2017-02-14 16:08] havoccc opened #3546 "Simc Crashes when I try to import character"
The game crashes and shows this message after I try to import a character by selecting US/EU or battlenet.
![capture](https://cloud.githubusercontent.com/assets/25767526/22937190/cc343754-f2cf-11e6-894f-feaaaeee3f43.JPG)

715-02

[DxDiag.txt](https://github.com/simulationcraft/simc/files/774613/DxDiag.txt)

I have tried using https://github.com/simulationcraft/simc/wiki/CommonIssues options 2 and

[2017-02-14 18:22] #3505 closed, assigned to nobody

[2017-02-14 20:32] #3511 closed, assigned to nobody

[2017-02-14 21:15] #3530 closed, assigned to Collisionc

[2017-02-14 21:15] #3521 closed, assigned to Collisionc

[2017-02-15 06:46] noh626 opened #3548 "My computer gets frozen during the simulation."
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version
715-01
#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-Files

#### simc_gui.simc file or contents
This file is saved in the same folder as the program after each simul

[2017-02-15 08:05] schnello opened #3549 "apply poison"
#### Simulationcraft Version
World of Warcraft 7.1.5 Live (wow build level 23360, git build cd36b8c)

#### simc_gui.simc file or contents
actions.precombat+=/snapshot_stats
actions.precombat+=/apply_poison
actions.precombat+=/stealth
actions.precombat+=/potion,name=old_war
actions.precombat+=/marked_for_death,if=raid_event.adds.in>40

#### Reproduction Steps:

Hello.

I try to add in the apply_poi

[2017-02-15 08:36] amdev74 opened #3550 "Vary Length seems ignored ?"
With simcraft 715-02 and simcraft 715-01

With my DH I put 240 sec in Globals -> Length and 0% to vary length because i don't want any variation ( variation add an extra meta and the final result become inconsistant )

But even if I put 0% vary length, the final graph at the end goes to 287sec and not 240sec

![simcraftbug](https://cloud.githubusercontent.com/assets/12050544/22966356/2a610dec-f362

[2017-02-15 12:53] ssateneth commented on #3550
Try adding fixed_time=1 to the overrides. Without it, simc has to guess what health to set the boss at. With it, boss health decreases at a predictable rate regardless of damage done and should exactly match your settings.

[2017-02-15 14:10] aethys256 commented on #3549
Use lethal= or nonlethal= instead.

[2017-02-15 14:10] #3549 closed, assigned to nobody

[2017-02-15 14:19] amdev74 commented on #3550
It works ! thx.

[2017-02-16 01:13] Demei opened #3552 "[Death Knight] Hungering Rune Weapon"
Build 715-02 ea39c9d

I'm not clear whether Hungering Rune Weapon is implemented correctly. The spelldata (id=207127) suggests two Periodic Energize Power auras are applied by the buff: a rune refresh every 1.5 seconds, and 5 runic power every 1 second, so the expected gain in runes should be 11 runes (initial tick + 10 buff ticks) and 80 runic power (initial tick + 15 buff ticks).  This is consis

[2017-02-16 14:54] #3550 closed, assigned to nobody

[2017-02-16 14:58] lgkern commented on #3510
As Frosted mentioned, you can dig in the commits (https://github.com/simulationcraft/simc/commits/master) back to before Cataclysm data started getting pulled in. Don't expect it to be correct and/or to be fixed and/or supported if anything is broken, however.

[2017-02-16 15:30] lgkern commented on #3548
the simc_gui you sent has no data on it, please re-upload it with the correct data

[2017-02-16 15:31] lgkern commented on #3546
Which character? (region realm and name)

[2017-02-16 15:37] havoccc commented on #3546
Sorry if this was not clear, I can't import **any** character. As soon as I try an select from the US/EU dropdown it crashes, as soon as I try and log in to battlenet  page it crashes.  In fact I have found that trying to adjust any dropdown it crashes.

[2017-02-16 15:51] lgkern commented on #3546
Hmm, that's really weird. I assume you already tried re-downloading it and installing again? I've tried here on both the live version and the dev version and both are working fine for armory imports.

[2017-02-16 15:57] havoccc commented on #3546
I have tried a few different versions. Is there a particular one you can recommend?

[2017-02-16 16:04] havoccc commented on #3546
As soon as I touch that dropdown it stops working.
![capture](https://cloud.githubusercontent.com/assets/25767526/23029169/86a023ea-f461-11e6-8d18-feb380fc948e.JPG)

[2017-02-16 16:13] havoccc commented on #3546
This is a Microsoft message that appears:
_Files that help describe the problem:
  C:\AppData\Local\Temp\WER37AB.tmp.WERInternalMetadata.xml
  C:\AppData\Local\Temp\WER4350.tmp.appcompat.txt
  C:\AppData\Local\Temp\WER439F.tmp.mdmp

Read our privacy statement online:
  http://go.microsoft.com/fwlink/?linkid=104288&clcid=0x0409

If the online privacy statement is not available, please read our priv

[2017-02-16 16:46] lgkern commented on #3546
Hey, please try to see if the same error occurs on 715-01? Trying to pin down a possible cause for it.

[2017-02-16 16:56] havoccc commented on #3546
yes it still happens on 715.01  from main page

[2017-02-16 22:46] Alpheus opened #3554 "[Druid] The damage reduction (not the reflect) from Rage of the Sleeper should be an absorb"
Currently implemented as pure mitigation in `druid_t::target_mitigation`. This has an effect on the healing done from frenzied regen.

[2017-02-16 22:56] Alpheus commented on #3554
Will look into it, just posted for clarity

[2017-02-16 23:13] xeropresence opened #3555 "QtWebEngineProcess.exe are not terminated when the results screen they were created for are closed"
I was doing some rapid iteration on an apl and I went off to do some other work and when I looked at the process list later there were 40~ QtWebEngineProcess.exe still running even tho I had closed all the result screens.

[2017-02-16 23:42] deltahalo014 opened #3556 "Spell Data For Kiljaeden's Burning Wish Not Found When Importing"
# Profile will be downloaded into a new tab.
#
# Clicking Simulate will create a simc_gui.simc profile for review.

# Unable to generate profile from:

# Player Moocowd could not find spell data for action kiljaedens_burning_wish
# Simulation has been canceled during player setup! (thread=0)

This is the error thats coming up every time I try to import character data to simulate

[2017-02-16 23:51] #3408 closed, assigned to Collisionc

[2017-02-16 23:55] Collisionc commented on #3556
I'm not getting this when importing characters with that trinket, can you try the latest versions at the top of the list here - http://downloads.simulationcraft.org/?C=M;O=D - and let me know if they also do it ?

[2017-02-17 06:49] psylic opened #3557 "[DH] Using wrong food buff"
Demon hunter sims are using Nightborne Delicacy Platter, which is mastery buff, when they should be using The Hungry Magister, which is crit buff. I know this isn't a huge DPS difference, but still should be changed as most, if not all, DH's use crit food over mastery food, seeing as it is our top secondary stat

[2017-02-17 09:50] Lothrik opened #3558 "715-02 - Mage APL - Firestarter"
The current Fire Mage APL uses Firestarter inefficiently, and undervalues the talent in all situations.

Specifically it does not optimize around it at all, and will use Combustion immediately regardless of the talent.

Replacing the line:
actions+=/call_action_list,name=combustion_phase,if=cooldown.combustion.remains<=action.rune_of_power.cast_time+(!talent.kindling.enabled*gcd)|buff.combustion.u

[2017-02-17 14:14] scamille commented on #3542
This is likely because SimulationCraft does not have sufficient permissions to write the output file (simc_report.txt) to C:/Program Files (x86)/simc-715-02-win64.

Please install SimC to a folder where you have write permissions, eg. C:/Users/<yourusername>/simc-715-02-win64.

[2017-02-17 14:17] Lothrik opened #3559 "715-02 - precombat action list - Meteor"
Warning: Player attempted to add harmful action meteor to precombat action list. Only spells with travel time/cast time may be cast here.

Meteor has a 3 second delay before it impacts and does any damage. Unless I'm missing something here, it should be a valid spell for the precombat action list.

[2017-02-17 19:39] lorddev opened #3561 "Is there a plan to remove reforging from the app?"
I noticed there are some features still included in the application like reforging and some tertiary stats that no longer exist. Would it be ok if I explored the removal of these features from the application?

[2017-02-17 21:03] Frostedmages commented on #3561
Reforging is a useful tool for investigating different issues related to stat values, removing it is not something I think would be beneficial.

[2017-02-18 00:26] luansievers opened #3562 "715-01 - Druid Balance Starfall with Fury Of Elune"
there is a step on acion list of fury_of_elune:
`actions.fury_of_elune+=/starfall,if=(active_enemies>=2&talent.stellar_flare.enabled|active_enemies>=3)&buff.fury_of_elune_up.down&cooldown.fury_of_elune.remains>10`

Talent Stellar Flare will never be enabled with Fury Of Elune

[2017-02-18 01:26] jonast92 opened #3563 "Pawn string (Scale Factors) not appearing"
#### Simulationcraft Version

715-01

#### Reproduction Steps:

Simply run a simulation and I'm unable to find the Scale factoring section with the pawn strings.

[2017-02-18 01:30] jonast92 commented on #3563
Found out what was missing. Had all the stats that I was looking for enabled in the options tab but hadn't enabled scaling.

[2017-02-18 01:30] #3563 closed, assigned to nobody

[2017-02-18 05:01] iPilot commented on #3562
Are you mean "Stellar drift"? Cause Stellar flare in 5 tier, but Fury of Elune in 7 tier. Everything is fine now.

[2017-02-18 11:09] haywireid opened #3564 "Error on opening, cannot access Specified file"
installed 64 on my 64 system extracted but when I try to open I get

"windows cannot access specified device, path or file, you may not have the appropriate permissions"

Im the only account on thsi computer with all admin rights, and even opened the program as admin ..

Have unistalled my antivirus and everything, cant figure out whats going on

[2017-02-18 17:04] Dstrst opened #3565 "Simulationcraft not running at all"
I have tried uninstalling I have tried every version. Window just flashes and then nothing

[2017-02-18 17:19] ghost commented on #3562
my bad

[2017-02-18 19:58] lorddev commented on #3561
So it doesn't mean what it used to mean?

[2017-02-20 07:53] norsehealer commented on #3565
If you log into another windows account, does SimC work? This is the only way I can currently get my Windows 10 SimC to work.

[2017-02-21 05:57] Maxweii opened #3566 "[Unholy Death Knight] - Gear/Talent Updates"
With the upcoming buffs for Unholy this is just tweaks to account for the change in our talents, and a slight change in gear now.

http://pastebin.com/8xNGgW2q

[2017-02-21 15:10] #3342 closed, assigned to aethys256

[2017-02-21 15:11] #3522 closed, assigned to aethys256

[2017-02-21 15:11] #3488 closed, assigned to aethys256

[2017-02-21 15:11] #3484 closed, assigned to aethys256

[2017-02-21 21:03] satiwa opened #3568 "sudden error when simming my character(s) (solved)"
Hi. I'm new to sim (about 1 month) and it worked perfectly.
I decided to try a thing and started a sim. then I switched out an item, and did a new sim. (with /csim addon) and then an error poped up, and now I can't sim at all.
Option parsing error:
Unexpected parameter 'd#'. Expected format: name=value
I've tried to update with nightly, I've uninstalled, installed on different lokations etc, can't

[2017-02-21 21:41] Collisionc commented on #3568
Make a new simulate tab and copy/paste your character again, you have an errant 'd' in your simulation.

### Begin simulateText ###
d# Profile will be downloaded into a new tab.
#
^

[2017-02-21 21:45] Collisionc commented on #3546
Try solution #1 on the common issues page. Also, there is no appcrash or blue screen information in your dxdiag.

Can you run this program - http://www.nirsoft.net/utils/app_crash_view.html - and find cases where simulationcraft.exe had an error, and copy/paste the contents of the crash here

[2017-02-21 21:48] satiwa commented on #3568
Thank you, that solved it! Not sure what an arrant D is, but thanks mate!

[2017-02-21 22:58] #3568 closed, assigned to nobody

[2017-02-21 23:06] Thordros commented on #3456
[Here's an event log](https://www.warcraftlogs.com/reports/WbqC49txRF3j8JAM#view=events&type=auras&ability=31884) of a little over two hours of hitting abilities on cooldown, with [a LFR Convergence of Fates](http://www.wowhead.com/item=140806/convergence-of-fates&bonus=3520) equipped. I did not take Crusade, and my haste at the time of the test was 8598 (22.93%).

[Here's a paste](http://pastebin

[2017-02-22 01:12] Collisionc commented on #3456
That's a pretty strong case for 4.2 being the baseline, I will adjust.

[2017-02-22 01:17] Collisionc commented on #3456
Ok, fixed.

[2017-02-22 01:17] #3456 closed, assigned to Collisionc

[2017-02-22 02:39] Dicerr opened #3569 "[Rogue-Outlaw] Relic - Edge of the First Blade - Incorrect Trait"
715-02 wow23360 git 6dbd258

I just got a relic from my weekly chest.  ilvl 900 Edge of the First Blade which has a Fatebringer trait.  But when I change my current relic to the new one it is giving a Fortune Strike Trait.

I have tried the item as per AMR's interface  id: 137493 bonus: 1552:3337:3536, I thought I'd try the id and bonus from wowheads interface, but it gives the same bonus.  I'm gu

[2017-02-22 06:57] Xiadalei opened #3570 "Why doesn't the DPS data in the ability add up?"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version
that would be https://github.com/simulationcraft/simc/commit/327f040843f98e23bd419f2aa512521cd431b278
But I didn't compile the source code, I get it from http://downloads.simulationcraft.org/?C=M;O=D
win64 version

#### simc_gui.simc file or contents

[simc_gui.zip](h

[2017-02-22 08:38] Lilacs328 opened #3571 "SimulationCraft 7.1.5 Crashing whenever I try to Sim"
Hey I just downloaded SimulationCraft and every time I try to sim my computer crashes. I'm using Windows 10 64-bit and the 64-bit version of simcraft 7.1.5. Including my DxDiag and simc_gui.simc files.

[DxDiag.txt](https://github.com/simulationcraft/simc/files/792670/DxDiag.txt)

https://www.dropbox.com/s/lvyetw0hnrkute9/simc_gui.simc?dl=0

There we go

[2017-02-22 08:42] Lilacs328 commented on #3571
https://www.dropbox.com/s/lvyetw0hnrkute9/simc_gui.simc?dl=0

There we go

[2017-02-22 08:43] Lilacs328 commented on #3571
My computer simply shuts down I don't get any "Program not responding" errors it just turns off. And this happens with any simulation attempt, from sample profiles to real characters.

[2017-02-22 09:24] nuoHep commented on #3407
I've committed e8c791df28 (forgot to mention the issue there)
As my spear is not even at 35 traits I can't check if the sneak double-dips on +damage% multipliers in some non-obvious way or not.

Leaving it open until I get 35 in Surv and can test at least the damage multiplier more thoroughly.

[2017-02-22 09:33] Lilacs328 commented on #3571
Well I think I figured out the problem I'm having some huge overheating issues. According to SpeedFan my core temp idles around 38C and as soon as I start simming it jumps to 65C+. I didn't have SpeedFan when I first tried the sims but I'm assuming the temperature continues rising as the sim progresses, and since installing SpeedFan I've been monitoring it and pausing the sim every time it rises a

[2017-02-22 14:56] navv1234 commented on #3520
Fixed in c2bf39897, though individual spells that are not supposed to proc it may need to be blacklisted still.

[2017-02-22 14:56] #3520 closed, assigned to navv1234

[2017-02-22 15:22] aethys256 commented on #3569
I just tested it, for me it's Fatebringer:

![image](https://cloud.githubusercontent.com/assets/10969743/23217859/e0e26bd4-f91a-11e6-84b9-eee03d606085.png)

![image](https://cloud.githubusercontent.com/assets/10969743/23217880/f016c9ec-f91a-11e6-98fb-72031985fb2f.png)

`main_hand=the_dreadblades,id=128872,bonus_id=742,gem_id=137493,ilevel=920`

I guess you used the wrong gem_id.
If you still exper

[2017-02-22 15:22] #3569 closed, assigned to aethys256

[2017-02-22 15:27] havoccc commented on #3546
hi,
Thank you, this worked!

[2017-02-22 17:19] nuoHep commented on #3570
I believe this is because of the "transient" nature of Dire Beasts (as in they are not permanent pets) where the ability dps is calculated over a bigger time window (the "active" time of the pet basically) than the actual uptime of the pet.

You can see pretty much the same on a Demo Warlock's Doomguard (looking at t19m_nh) where it has ~213k Doom Bolt dps but the actual pet dps is only ~36k over

[2017-02-22 18:48] Czajaone opened #3572 "Paladin Holy how to sim ?"
Please open a ticket, copying the detailed text below.
It contains all the input options of the last simulation and helps us reproduce the issue.

# SimulationCraft encountered an error!
* Category: Simulation setup error
* Error: Nothing to sim!

## All options used for simulation:
[code]

[2017-02-22 19:21] HnyBear opened #3573 "Missing Hunter Pets"
SC Ver: simc-715-01-win64

I looked through the sc_hunter.cpp and didn't find the following pets.

Quilen
Cranes
Water Strider

[2017-02-22 19:30] HnyBear opened #3574 "Demon Hunter Output Issues Wrong Abilities"
SC Ver: simc-715-01-win64

Importing my Havoc Demon Hunter from Azuremyst, Failtrail.

The end results show abilities I don't have; Death_Sweep, Annihilation and on one import/sim it showed Demons _Bite.

Even though it is grabbing the proper spec for what I'm currently using the wrong abilities keep showing up. I'm attaching a saved html in pdf format since zip won't upload.

[Simulationcraft Res

[2017-02-22 19:49] nuoHep commented on #3573
That's because pet family is parsed in the util code (re: sc_hunter.cpp) and we don't even have the corresponding enums.

And in any case pet families are completely irrelevant now. Even Chimeara's Froststorm Breath (one of the 2 "dps" specials left alongside Worm's Burrow Attack) is not hooked up because it's a straight dps loss (and burrow is even worse). Survival having Carrion Bird by default

[2017-02-22 20:27] HnyBear commented on #3573
Ok, sounds good. Thank you.

[2017-02-22 22:10] FaideWW opened #3575 "[Guardian Druid] Lady and the Child periodic damage"
Lady and the Child appears to be incorrectly applying the moonfire dot in multitarget scenarios for guardians.

#### Simulationcraft Version
Latest nightly (commit 6dbd258b0)

#### simc_gui.simc file or contents
http://pastebin.com/uda2NScp

#### Reproduction Steps:

See attached results:

On 3 targets (without galactic guardian talented), without Lady equipped, cycling moonfire on all targets res

[2017-02-22 23:08] riccozzz opened #3576 "Cinidaria, the Symbiote causes segfault"
This problem occurred on the latest nightly build for windows (ff6af4d) and building from git on Linux. When simming a rogue or demon hunter using this legendary it causes the program to immediately segfault (have not tested the other classes its usable on). Commenting out the waist= line fixes the problem. Likely due to this commit:

https://github.com/simulationcraft/simc/commit/c2bf39897b6e7a84

[2017-02-23 00:42] #3575 closed, assigned to nobody

[2017-02-23 05:32] Xiadalei commented on #3570
So basically the amount of DPS under this situation is not accurate and cannot be trusted, right?
While the percentage of the DPS is still accurate. This is weird, and suggests different calculations are used here.
Still I do believe this issue is covered and will close this.
Thank @nuoHep for your answer. It is helpful.

[2017-02-23 05:32] #3570 closed, assigned to nobody

[2017-02-23 09:13] navv1234 commented on #3576
This is fixed in 30c1a4e.

[2017-02-23 09:13] #3576 closed, assigned to nobody

[2017-02-23 09:40] #3566 closed, assigned to nobody

[2017-02-23 09:41] Rufuchi opened #3577 "Simc stops running when i try to sim"
I'm running Simc version 715-02

I was running it just fine it was version 715-01, but decided to download newest version, so i did it and now when i try to simulate my character it instantly gives me program stopped working window. It doesn't run even for a second.
It work fine when i try to sim sample profiles u have in the program. It doesn't matter if i import my character from in game addon o

[2017-02-23 10:30] navv1234 commented on #3552
Yeah, we don't at the moment support a single "spell" (buff) having different tick times. I'll kludge this in somehow.

[2017-02-23 15:49] Fjellryn opened #3579 "[Rogue Assa] Draught Of Souls usage"
Regarding DoS usage, right now the APL line is like this
 "if=energy.time_to_max>3.5&!debuff.kingsbane.up&(!talent.agonizing_poison.enabled|(debuff.agonizing_poison.stack=5&debuff.surge_of_toxins.remains>3))"
but by deleting the kingsbane debuff condition I gain 7.5k DPS on the base T19M_NH profile (772.5k => 780k). Because we have melee attacks during DoS we shouldn't care about kingsbane.

[2017-02-23 16:17] Bloodmallet opened #3580 "Potentially unnecessary warning about not-equiped items"
Please include any other steps necessary to recreate the problem, or include logs/data to show what is occurring in game if there is an issue with how something is modeled.

When simming profiles that contain apl lines that use special on-use items like gnawed thumb ring or horn of valor but those items aren't present in the profile, simulationcraft throws a warning. I like to raise the question w

[2017-02-23 19:37] #3546 closed, assigned to nobody

[2017-02-23 19:43] Tengenstein opened #3581 "Prot Warrior 2pc has no affect on critical block chance."
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version 715-02

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-Files

#### simc_gui.simc file or contents
### Begin GUI options ###
ptr=0
item_db_source=ptrhead/local/bcpapi/

[2017-02-23 21:45] Thernn opened #3582 "APL is not optimal for Sin MotMA playstyle"
The Simc APL for the MotMA playstyle is not optimal. Significant confusion exists over openers along with the best way to synergize Vendetta, Kingsbane & Vanish. Proper utilization of garrote with the subterfuge buff it recieves must also be considered. Complicating these interactions further is the addition of Draught of Souls when a rogue has it.

Kiwifruity's logs - A few playstyles. Older Feb

[2017-02-23 21:59] SnowMewPlays opened #3583 "Arcane Charges not displaying in Sample Sequence Table during 1st burn phase"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version
simc-715-02-win64-a9d6335

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-Files
No crash

#### simc_gui.simc file or contents
This file is saved in the same folder as

[2017-02-23 22:00] SnowMewPlays commented on #3583
[simc_gui.zip](https://github.com/simulationcraft/simc/files/797836/simc_gui.zip)

[2017-02-23 22:42] #3577 closed, assigned to nobody

[2017-02-24 01:15] crtab commented on #3555
I came here to report the same issue.
I generally leave the app open as to keep my reports easily accessible (thus its open between Windows sleeps) and I just noticed the combined weight of my QtWebEngineProcess processes taking 8% of my processor usage whilst doing nothing.

In addition to QtWebEngineProcess not closing when the related results pages are closed, they seem to be doing *something*

[2017-02-24 10:14] aethys256 commented on #3579
Fixed in https://github.com/simulationcraft/simc/commit/bf3e1bb5220dcad06753595fca27d82d4e206841

[2017-02-24 10:14] #3579 closed, assigned to aethys256

[2017-02-24 16:03] Phied opened #3586 "Compilation struggles on FreeBSD and sc_report error"
#### Simulationcraft Version - 7.1.5-02 git build f785fd74e

#### Compilation Steps:
Try to build the source on FreeBSD 10.3-RELEASE.  You will get a ton of errors.  I have been able to compile successfully as long as I do the following.

- Install gcc6 or higher
- Compile with gmake
- #include <stdarg.h> in util/str.hpp
- #include <netinet/in.h>, <sys/socket.h>, and <arpa/inet.h> in file interfac

[2017-02-24 16:51] ghost opened #3587 "JSON reports seem to be broken for demon hunters"
I'm using the command line version (engine/simc) with automatically generated .simc files and I'm only
having issues with JSON output for demon hunters only. Other outputs (HTML, XML, text) work fine for
Demon Hunters.

Version: 971addd9209edc4c4cf9f5934d8de7541060a96c
Two examples I have of simc files causing this:

[code]
json output in both cases abruptly end:

[code]
Output log (when text outp

[2017-02-25 01:07] paraalso opened #3589 "Uvanimor bug (Unholy DK legendary)"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version
SimulationCraft 715-02
for World of Warcraft 7.1.5 Live (wow build level 23360, git build 7c87a94)

#### simc_gui.simc file or contents
### Begin GUI options ###
ptr=0
item_db_source=ptrhead/local/bcpapi/wowhead
target_error=0
iterations=10000
default_world_lag=0.1
ma

[2017-02-25 09:34] Xiadalei opened #3590 "【hunter】Early cast of bestial wrath when the buff is still on"
Hi guys,

The action list for BM overlooked the possibility the cooldown of BW is ready when the BW buff is still on.
I'm not really gonna PR but do change
`actions+=/bestial_wrath`
to
`actions+=/bestial_wrath,if=buff.bestial_wrath.down`

P.S. There's a lot of issues regarding the cast of BW, but that's just fix the easiest one first.

[2017-02-25 14:46] frosty808 opened #3591 "Standard derivation for DPS"
I really like simming for mean DPS, trying out different gearsets and gems/enchants. However, aside of the mean DPS i am also very interested in doing consistant damage. Thats why i would really like knowing about the standard deviation. Would be really nice to add that, maybe under the graph. Thanks a lot.

[2017-02-25 18:43] EvanMichaels commented on #3574
Death Sweep and Annihilation are used when in Metamorphosis. Nothing wrong here.

[2017-02-25 18:43] #3574 closed, assigned to nobody

[2017-02-26 19:00] CidiusV opened #3595 "Lady and The Child Moonfire spam glitch"
First time here so let me know if there's anything else I need to include or if this was already resolved and I'm just using an out of date SimC.

The Version 715-02

Situation: Simulating AoE on my Balance druid. Equipping 'Lady and the Child' and simulating a multitarget fight appears to cause the program to spend nearly all of its time casting moonfire. This did not occur on my single target si

[2017-02-26 20:38] lgkern commented on #3572
Healing specs are not actively being supported by SimulationCraft

[2017-02-27 12:04] navv1234 commented on #3587
You can use the newer json outputter (json2 option), that will likely replace the old outputter.

[2017-02-27 19:43] Aravell1 opened #3598 "Simcraft crashes anytime I try to sim more than 2 targets or do add cleave sims"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version

715-02

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-Files

[DxDiag.txt](https://github.com/simulationcraft/simc/files/804805/DxDiag.txt)

#### simc_gui.simc file

[2017-02-28 02:39] Jundarer opened #3599 "Balance Druid Nature's Balance talent"
Using this talent causes neither sunfire nor moonfire to ever fall of in a single target patchwerk sim even though that is impossible, especially with ed. There have been a few fixes for nb before but it is still extending the dot duration by too much for some reason. My first guess would be that the extension doesn't scale with haste(even though it should) but I have no idea what causes it in the

[2017-03-01 07:58] Hyperion244 commented on #3599
I noticed that you commented late on the thread here (https://github.com/simulationcraft/simc/issues/3344) the last time this issue arose.  I had the same thought process as you regarding it not updating dynamically/scaling with haste, as did Gebuz, but @Collisionc checked it out and it seems to be functioning correctly, so we're not really sure where it stands.  I guess the next step is to go int

[2017-03-01 14:06] Shlorp opened #3603 "Assassination rogue rupture time spent overlarge"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version
simc-715-01-win64

#### simc_gui.simc contents

### Begin GUI options ###
item_db_source=local/bcpapi/wowhead
target_error=0
iterations=1
default_world_lag=0.1
max_time=300
vary_combat_length=0
fight_style=LightMovement
tmi_window_global=6
target_level+=3
target_race=

[2017-03-02 06:23] Deezelgurl commented on #3565
I am also having this same issue. I've tried multiple accounts, I tried creating a new Environment Variable. Nothing seems to work. Right clicking and opening as Admin doesn't work either. I can provide any information you need.

This is the error log:
[code]
Other log reads:
[code]

[2017-03-02 09:32] aethys256 commented on #3603
What does it means ?
Also, I don't see any report in the issue.

[2017-03-02 10:38] Shlorp commented on #3603
Rupture is being cast about once every 6 seconds (as if it's always cast with 1 combo point-8s)
51.5s casting rupture in a 300s fight
[RuptueResult.txt](https://github.com/simulationcraft/simc/files/813469/RuptueResult.txt)
while that time casting should be slightly smaller than subtlety's nightblade(considering duration scaling tween the two spells)
18.6s casting nightblade in a 300s fight
[Night

[2017-03-02 10:39] Shlorp commented on #3603
oops

[2017-03-02 17:20] SOLiNARY commented on #3603
That's because you're **stealthed** for like 2 minutes into fight.
It keeps using rupture over & over again.
Must be a bug.
I have the resulting html over here:
https://cdn.discordapp.com/attachments/228879234540503040/286904736475643904/results_html.html
You can check in Sequence table, **stealthed** buff is on the player for a **VERY** long time.

[2017-03-02 18:44] EvanMichaels commented on #3598
Fixed this in https://github.com/simulationcraft/simc/commit/13c760bd849dc9152c27bf54d672afbf06eec4f7

[2017-03-02 18:44] #3598 closed, assigned to nobody

[2017-03-03 00:35] Abso1 commented on #3595
Confirmed, same here. My char is abso from tyrande.

[2017-03-03 06:34] SOLiNARY commented on #3603
This commit must fix the problem, #1307eb5 let's wait for another build.

[2017-03-03 10:35] #3552 closed, assigned to nobody

[2017-03-03 10:35] navv1234 commented on #3552
See the commit message. The reality is more interesting than the theory, it seems.

[2017-03-03 11:07] #3589 closed, assigned to nobody

[2017-03-04 14:54] aethys256 commented on #2719
This can be closed, we have now JSON2 (as a "beta"), and the median/mean thing has been "clarified".

[2017-03-04 14:54] #2719 closed, assigned to nobody

[2017-03-04 15:01] aethys256 commented on #3603
Fixed in https://github.com/simulationcraft/simc/commit/1307eb5c55080166ea1cf80ed57e5732dc0140ff ^^

[2017-03-04 15:01] #3603 closed, assigned to aethys256

[2017-03-05 00:42] zapnaz opened #3607 "Unholy str buff for frost (possibly unholy)"
Ran a sim for my frost dk and noticed the uptime for the Unholy Strength buff from the Fallen Crusader runeforge enchant looked high (around 90% uptime)

When comparing this to logs they show between 50-75% uptime. Duration of the buff looks ok, could be that the proc chance is set too high?

html file can be found here: http://www.filedropper.com/unholystrcheck

[2017-03-05 08:53] Demei commented on #3607
Both mainhand and offhand weapons on that sim are enchanted with Fallen Crusader, which will increase uptime on the strength buff. Changing the enchantment on the mainhand to Razorice should bring it in line with logs (~70% uptime).

[2017-03-05 09:38] TechDevJorge opened #3608 "Constant simcraft crash"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version
715-02
#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - ------------------
System Information
------------------
      Time of this report: 3/5/2017, 01:33:18
             Machine name: JORGIE-PC
               Machine Id: {47

[2017-03-05 16:25] CrusadersSin opened #3609 "Unable to Sim Blood DK"
Please include a brief overview of the issue in the title above, as well as completing the following:
When importing my character Eydís, I can not sim. It shows up with these error codes:
Player Eydís uses call_action_list with unknown action list bos
Simulation has been canceled during player setup! (thread=0)
#### Simulationcraft Version

#### If Simulationcraft is crashing, please include your

[2017-03-05 17:33] Jundarer commented on #3599
I took a look at it with the detail option and here is what I found every time it extends the duration:

7.439 Tunderer invalidates spell_haste
7.439 Tunderer invalidates spell_speed
7.439 Tunderer gains star_power_6 ( value=0.01 )
7.439 Adjusting reschedule of event buff_expiration (28) from 20.58 to 22.44 time=16.12
7.439 Tunderer extends duration of moonfire on Fluffy_Pillow by 6.6 second(s).
7

[2017-03-05 18:29] Synesthetix opened #3610 "[Warrior - Fury] Ring of Collapsing Futures"
On-use for ring is not being activated. Looks like the line in the default action list is missing a comma.

actions+=/use_item,name=ring_of_collapsing_**futuresif**=equipped.ring_of_collapsing_futures&buff.battle_cry.up&buff.enrage.up&!buff.temptation.up

Simulationcraft Version: 715-01, git build 4e1343e

[2017-03-05 18:35] vanvlasselaerkevin opened #3611 "I dont see stats to scale in the options?"
so when i go into the options and go to the scaling tab.

the stats to scale square is empty, where normally should be stats too turn of or on.
Any know what i am doing wrong

[2017-03-06 02:31] EvanMichaels commented on #3557
This is fixed now.

[2017-03-06 02:31] #3557 closed, assigned to EvanMichaels

[2017-03-06 02:31] #3515 closed, assigned to nobody

[2017-03-06 09:54] Gebuz commented on #3599
Are you sure that those events are not just pandemic extension when refreshing the dots?
With starlord, cast time of LS is 2 sec, and SW is 1.2 sec, while extend duration is 6 and 4 seconds. If you want to keep them rolling forever, you'll need to spend 2/6=33% of your time casting LS, and 1.2/4=30% of your time casting SW. I'm not on my home PC atm, so I can't check myself, but if you run a patch

[2017-03-06 18:01] lgkern commented on #3609
Please provide more data on what you're doing and how you're doing it.

Tank and Healing specs are not being actively supported by anyone, so errors with them are expected.

[2017-03-06 18:05] lgkern commented on #3609
It seems to be calling a action_list used for Frost DKs only, are you importing the character while it is using Blood Spec or are you importing as Frost and manually changing to Blood?

[2017-03-06 20:33] Thernn commented on #3582
It appears the community has settled on the optimal opener for Mantle + DoS when you have Boots + CoF and MA relics.

Here is a time line of a Krosus fight for a rogue who has DoS
https://www.warcraftlogs.com/reports/1PnzdFgxB3Dh8rVJ#fight=42&type=casts&view=timeline&source=44

Opener is pretty much set in stone at this point.
Garrote > Mutilate > Rupture > Mutilate > Vendetta> Envenom>Kingsbane>M

[2017-03-06 21:19] lgkern commented on #3572
More info: https://github.com/simulationcraft/simc/issues/2775

[2017-03-06 21:19] #3572 closed, assigned to nobody

[2017-03-06 23:41] #3516 closed, assigned to Collisionc

[2017-03-06 23:41] #3523 closed, assigned to nobody

[2017-03-06 23:41] #3542 closed, assigned to nobody

[2017-03-06 23:42] #3548 closed, assigned to nobody

[2017-03-06 23:42] #3556 closed, assigned to nobody

[2017-03-06 23:43] Collisionc commented on #3561
Yeah, the common player still knows that reforging means taking -500 of one stat and moving that 500 to another stat.  We may look at renaming it at some point, but it's not being removed from the program.

[2017-03-06 23:43] #3562 closed, assigned to nobody

[2017-03-06 23:45] Collisionc commented on #3607
Yeah, this is working as intended. Most people don't use FCR enchant on both weapons. :)

[2017-03-06 23:45] #3607 closed, assigned to nobody

[2017-03-06 23:46] Collisionc commented on #3610
Whoops :D

[2017-03-07 11:44] Partholan opened #3613 "SimCraft prioritize Nitro-Boost over second Potion"
Version: SimCraft 715-01
Class: Warrior
Spec: Fury
Profession: Engineer
Enchantment: Nitro-Boost on Belt
Fight: Patchwork

On of the first points of the **standard** Fury APL is:
actions+=/use_item,name=goresmeared_abyssal_waistplate,if=buff.battle_cry.up&buff.enrage.up

With this i will get **one** use of "potion of old war" and **one** use of "nitro-boost" per fight (see abilities -> simple acti

[2017-03-07 13:28] lgkern commented on #3613
@Collisionc The issue happens because in the warriors APL builder (https://github.com/simulationcraft/simc/blob/legion-dev/engine/class_modules/sc_warrior.cpp#L4872) it skips for items called "nitro_boosts", but it should look for enchant or effect with that name instead.

[2017-03-07 13:30] lgkern commented on #3611
![image](https://cloud.githubusercontent.com/assets/495152/23658370/0c480652-0321-11e7-8d7e-5e0f4e455276.png)
Here it seems normal in the latest nightly. Can you try that version to see if the problem persists?

[2017-03-07 22:00] vanvlasselaerkevin commented on #3611
ah wonderfull its ok in the latest version.

[2017-03-07 22:00] #3611 closed, assigned to nobody

[2017-03-08 09:09] Dresche opened #3614 "Engineering Goggles and Potions do not share Cooldown"
#### Overview
Engineering goggles and potions do not share cooldown in simcraft and thus are accounted both for leading to wrong results, as in reality they do share a cooldown.
#### Simulationcraft Version
Version 715-01

[2017-03-08 14:51] CrusadersSin commented on #3609
This is the code that I use from the in-game addon:

deathknight="Eydís"

level=110

race=night_elf

region=us

server=veknilash

role=

professions=blacksmithing=486/mining=562

talents=2112331

spec=blood

artifact=15:0:0:0:0:272:3:273:3:274:1:275:3:276:3:277:3:278:3:280:3:281:1:282:1:283:1:284:1:285:1:286:1:289:1:1331:1

head=,id=144280,bonus_id=3529/3530

neck=,id=140894,bonus_id=3443/1467/181

[2017-03-08 15:09] navv1234 commented on #3609
Simulating blood death knights is not supported at this point in time.

[2017-03-09 01:53] Demei opened #3615 "[Death Knight] Seal of Necrofantasia"
Build 715-02 22bf567

Is the death knight class module handling Seal of Necrofantasia correctly? The implementation appears to be multiplying the cooldown by (1 - the spelldata modifier), but the modifier is a negative number.  Wouldn't this result in the cooldown being increased rather than decreased by 10%? Running sims with no actions in the APL other than HRW and with Seal of Necrofantasia equ

[2017-03-09 16:33] lgkern commented on #3615
Thanks for the report, fixed on https://github.com/simulationcraft/simc/commit/cae5feccf20423988426ab2bfa2822bffccdd9ac

[2017-03-09 16:33] #3615 closed, assigned to nobody

[2017-03-09 16:40] Sundava commented on #3615
The issue is fixed for Empower Rune Weapon, but the same line is present for Hungering Rune Weapon [on line 4886](https://github.com/simulationcraft/simc/blob/legion-dev/engine/class_modules/sc_death_knight.cpp#L4886) and is still the same as before :
`      ( 1.0 - p() -> legendary.seal_of_necrofantasia -> effectN( 2 ).percent() );
`

[2017-03-09 16:44] lgkern commented on #3615
Ops, fixed on https://github.com/simulationcraft/simc/commit/f9752bca3d5bc649cf9a0adc314a21b1d8b611ef
Also double checked for other mentions of the legendary.

[2017-03-09 17:46] navv1234 commented on #3615
Oops, should not fix things at work.

[2017-03-10 10:33] TechDevJorge commented on #3608
help please

[2017-03-10 21:11] Gengiwar opened #3616 "Time dependency on a dps CD"
hello everyone, first time here so hopefully won't make some stupid question or mistake :) so here it goes:

I'm an Enhancement shaman, and wanted to make a sim exp where I would change the APL in this way:

Cast our dps cd (doomwinds) only if you have a stormbringer proc (this seems simple enough) but hold it only for an X amount of time where I could change the time in order to optimize how long

[2017-03-11 00:12] Symondus opened #3617 "[Priest] Void Eruption instant instead of casted"
When looking through the Logfiles i noticed that void eruption seems to be treated as an instant off-gcd cast.

**8.392 Shathana performs mind_blast (1100000)**
8.392 Shathana mind_blast hits trainingdummy for 213092 shadow damage (hit)
8.392 Shathana gains 15.00 (15.00) insanity from Insanity Gained from Mind Blast (78.00/100.00)
8.392 Shathana gains 0.00 (5940.00) mana from mp5_regen (1100000.00

[2017-03-11 00:19] Symondus commented on #3617
This is probably because void eruption uses spell id 228360 (the damage part) instead of spell id 228260 (the cast part)

[2017-03-11 01:50] #3279 closed, assigned to Collisionc

[2017-03-11 01:54] #3517 closed, assigned to Collisionc

[2017-03-11 02:00] Collisionc commented on #3543
Does it update as haste changes, or is it static ?

[2017-03-11 07:19] iPilot commented on #3543
Assuming that starfall must be haste-independed it has to updates when haste changes. Guess it corresponding with moonfire and sunfire, but ticks are limited - always 9. So hard find proofs even using WCL - high interval dispersion about +-100 ms without any haste changes.

[2017-03-11 14:27] Collisionc commented on #3555
Unfortunately this is kind of a "feature", every tab is saved in history until simc itself is closed. I looked into ways of modifying it, but I think it'll take a bit of effort. Judging by the code, it looks like the guy who originally did this was trying to not save result pages in history, but it's certainly still doing it.

However, you can get around this by hovering over the "Close all tabs"

[2017-03-11 14:58] Collisionc commented on #3565
I'm sure you may have already tried, but option 3 here - https://github.com/simulationcraft/simc/wiki/CommonIssues - usually resolves this.

for @Deezelgurl  that may be your antivirus sandboxing qt5core.dll, try disabling it temporarily to see if simulationcraft will load. If that doesn't work, does the the 32 bit download work?

Also I uploaded a new simulationcraft with a newer version of QT at

[2017-03-11 15:12] Collisionc commented on #3571
Yeah, that's a definite overheating issue.

Option 5 here - https://github.com/simulationcraft/simc/wiki/CommonIssues - has some suggestions, but I think you are already on the right path.

[2017-03-11 15:12] #3571 closed, assigned to Collisionc

[2017-03-11 15:38] #3580 closed, assigned to Collisionc

[2017-03-11 15:53] Collisionc commented on #3581
Sorry about that, will be in the next release.

[2017-03-11 15:53] #3581 closed, assigned to Collisionc

[2017-03-11 17:01] norsehealer commented on #3565
I've personally tried that and it didn't work. I've used the 32-bit and 64-bit. I've tried the zip and the exe. I've tried the daily builds. I've moved the install location. I've disabled my antivirus too.

I tried simc-715-02-win64-92af786.7z version and it works. Thanks!

[2017-03-11 23:51] Deezelgurl commented on #3565
The new version you posted today works! Don't know what changed, but thank you! I can finally sim myself! I appreciate you taking the time to look into it.

[2017-03-12 01:02] crtab commented on #3555
I'm not following where the "Clear all history" option is - I can see a "Close All" button when rightclicking a tab in results, but nothing when I hover over it.

Not sure what the advantage is of keeping a tab history since I don't know of any way to re-open a closed tab.

[2017-03-12 02:23] Valdiralita opened #3618 "[715-02] simc sometimes hangs when creating HTML report"
Simulationcraft Version: 715-02 (build 11.03.2017)

I use the TCI.
I tried to create an HTML report but when it finished the simulation and created the report it hung. It will hang there forever until I kill the process. This happens maybe every 1 in 50 sims.

I used this command to generate a HTML report:
./simc apikey=<key> process_priority=low armory=eu,Blackmoore,Valdiralita calculate_scale_fa

[2017-03-12 04:04] Collisionc commented on #3555
![Picture](http://collision.heroicstrike.org/2017-03-11_23-01-51.gif)

It's kind of hidden, but like I said, I don't think it was intentional that we kept closed result pages, but due to how the thing is coded it's actually pretty difficult to rip out without affecting other things.  I'll look into doing it, but it's not high priority at the moment.

[2017-03-12 05:49] Collisionc commented on #3565
Glad to see that fixes it, it must have been an issue with QT. I'll continue using that version.

[2017-03-12 05:49] #3565 closed, assigned to Collisionc

[2017-03-12 05:50] Collisionc commented on #3543
Ok, I'm pretty sure that I coded it like that, test the latest 710-02 downloads and let me know.

[2017-03-12 05:50] #3543 closed, assigned to Collisionc

[2017-03-12 06:16] Collisionc commented on #3608
Where does it crash? On open? When you try to sim?

As a shot in the dark, try option 1 here - https://github.com/simulationcraft/simc/wiki/CommonIssues

[2017-03-12 06:18] Collisionc commented on #3610
Looks like I have fixed this in 710-02 - http://downloads.simulationcraft.org/?C=M;O=D

Top downloads

[2017-03-12 06:18] #3610 closed, assigned to Collisionc

[2017-03-12 06:29] Collisionc commented on #3595
Can you upload the profile you were using? (just copy/paste the entire simulate tab) I'm having trouble reproducing this, and it's probably because you're not wearing the same gear in your armory at the moment.

[2017-03-12 06:31] Collisionc commented on #3564
Try moving the simulationcraft folder that you extracted to another folder, it sounds like it's autoextracting into appdata

[2017-03-12 09:20] TechDevJorge commented on #3608
it happens whenever it starts scaling the stats... it gets through most or at least a few then stops working.
This has been going on for a few weeks now

[2017-03-12 09:21] TechDevJorge commented on #3608
Tried option 1 and  still happening

[2017-03-12 19:10] lorddev commented on #3561
OK, I thought reforging was a thing you did near the xmog vendor to take -x from one stat and move it to another. Which had been removed.

[2017-03-12 19:17] Collisionc commented on #3608
see if the top downloads here - http://downloads.simulationcraft.org/?C=M;O=D fix it

[2017-03-13 00:01] Abso1 commented on #3595
druid="Abso"
origin="https://eu.api.battle.net/wow/character/tyrande/abso/advanced"
thumbnail="http://eu.battle.net/static-render/eu/tyrande/27/38595867-avatar.jpg"
level=110
race=night_elf
timeofday=day
role=spell
position=back
professions=tailoring=800/engineering=800
talents=http://eu.battle.net/wow/en/tool/talent-calculator#Ua!2101121
artifact=59:0:0:0:0:1034:3:1035:3:1036:3:1037:3:1038:3:1039

[2017-03-13 00:02] Abso1 commented on #3595
Num enemies was set to 3

[2017-03-13 00:04] Abso1 commented on #3595
rest of options was set Default.

[2017-03-13 00:07] Abso1 commented on #3595
thanks in advance :)

[2017-03-13 02:34] TechDevJorge commented on #3608
It does, i've tried using doing the 7.15 one and all the updated ones

[2017-03-13 04:29] tjl1973 commented on #2987
There's my current armoury for my elemental shaman. Cloak of Hidden Flasks is showing 463 in sims but it's an 830 piece in the armoury.

http://us.battle.net/wow/en/character/stormrage/Ukyo/advanced

The piece on wowhead is: http://www.wowhead.com/item=81136/cloak-of-hidden-flasks&bonus=615

even when I put this item number and the bonus, it simulates as 463.

[2017-03-13 17:47] navv1234 commented on #2987
I'll take a look what happens there. Thanks.

[2017-03-13 18:07] navv1234 commented on #2987
Where are you seeing 463? It seems to simulate as ilevel 830 with a freshly compiled copy?

[2017-03-13 18:10] tjl1973 commented on #2987
I'm using the OS X build from March 12.

[2017-03-13 18:10] navv1234 commented on #2987
Imported your character with the addon or from armory?

[2017-03-13 18:11] tjl1973 commented on #2987
I just did a straight import from armoury. I've also tried putting in the item id and bonus and get the same issue.

[2017-03-13 18:12] navv1234 commented on #2987
Can't say I'm seeing that. Where are you seeing the ilevel 463?

[2017-03-13 18:12] tjl1973 commented on #2987
Listed under gear, in the results. I just did a download of the March 13 OS X build and get the same issue.

[2017-03-13 18:18] tjl1973 commented on #2987
If you hover over the item and look at the detail, it will say 830, but when you look at the info below the name under gear, it has 463 and the wrong stat weights.

[2017-03-13 18:23] lgkern commented on #3616
actions+=/spell_name,if=cooldown.cooldown_name.remains>X

[2017-03-13 18:28] navv1234 commented on #2987
Yeah, this is something completely unrelated to the tooltip. I'll fix it if I can figure out how.

[2017-03-13 23:06] Alpheus opened #3619 "[Melee] Pharamere's Forbidden Grimoire"
Grimoire is supposed to deal half its damage as a non-ranged spec. I got it to sim with `distance=21` but it seems to be doing way too much damage. I haven't found game data info on the actual damage change per spec but it does update in-game, so I'm not 100% sure how it's handled but it is exactly half going from Balance to Guardian/Feral (with equal AP weapons, etc.).

Sample profile:
[code]

[2017-03-14 12:10] scamille commented on #3586
I studied the tooltip parser code, and I can't see how any '(anonymous namespace)::tooltip_parser_t::error' exception can propagate outside of the tooltip parser code.

Can you please post
1) The exact input you used for the simulation (If you use the GUI, see https://github.com/simulationcraft/simc/wiki/simc_gui.simc)
2) If possible debug the program, and get a stacktrace of the exception.

[2017-03-14 12:54] scamille commented on #3591
In the character overview there is the metric "DPS Range", representing percentile(0.025) to percentile(0.975) length of your DPS distribution.

And for each character, in the Statistics & Data Analysis section -> DPS there are tons of statistical numbers.

[2017-03-14 12:54] #3591 closed, assigned to nobody

[2017-03-14 21:26] 5erade opened #3620 "[Trinket] Stormsinger Fulmination Charge showing wrong tooltip/using wrong values."
http://www.wowhead.com/item=137367/stormsinger-fulmination-charge&bonus=1552:1726:1808
ingame and on wowhead it shows 845 mastery per second at ilvl900 but in SimC it is showing as 1477 mastery per second. Does this mean it is causing my dps to be inflated?

########
priest="Realserade"
level=110
race=blood_elf
region=us
server=kiljaeden
role=
professions=alchemy=780/herbalism=383
talents=1211111

[2017-03-14 21:32] 5erade commented on #3620
Nevermind looking through I saw
Stat Buff details

stat:mastery_rating
amount:845.36

So despite showing the wrong tooltip when mousing over it seems its only applying 845 in the Simulation.

[2017-03-14 21:32] #3620 closed, assigned to nobody

[2017-03-14 21:32] navv1234 commented on #3620
Wowhead tooltips, we don't have much control over those.

[2017-03-14 21:36] 5erade commented on #3620
Yep makes sense, Realized I should probably check inside the log to make sure what value was exactly being added. Sorry!

[2017-03-15 00:41] kaizerfreak opened #3621 "Results Tabs Named the Same when Queueing 3+ Simulations"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version
SimulationCraft 715-02
for World of Warcraft 7.1.5 Live (wow build level 23360, git build 22bf567)

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-Files

#### simc_gu

[2017-03-15 17:31] dortmonger opened #3622 "Demon Hunter CLI crash"
Hi all,
i'm running the legion-dev branch through the CLI. I've been able to run the DH before,
i just updated the branch today and tried to run again, i got the following error

simc: class_modules/sc_demon_hunter.cpp:3784: virtual void {anonymous}::actions::attacks::death_sweep_t::execute(): Assertion `p() -> buff.metamorphosis -> check()' failed.

Here's my simc profile which i'm running
demonh

[2017-03-15 17:38] dortmonger commented on #3622
This error does not occur if i remove the "copy" block, and just run as a single actor simulation.
I've made the "copy" block work before on my Rogue, is there some problem in my implementation?

[2017-03-16 02:58] #3617 closed, assigned to lgkern

[2017-03-16 05:25] stoicskyline opened #3624 "Frost mage sim crashes"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### 715 01 and latest releases

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here -
[http://pastebin.com/PE59mKiM](http://pastebin.com/PE59mKiM)

#### simc_gui.simc file or contents
This file is saved in the same folder as the program after each simulation.

[2017-03-16 13:05] Emowyn opened #3625 "Simcraft crashing while simming a particular talent/gear set up only"
I have run this talent and gear sim on 4 different builds you have released over the past week, with the same crashing. It seems to sim upto versatility or wdps then crash.
It works fine with other talents with gear the same and changing.

715-02 win32-b20a3cb Simulationcraft Version. Plus previous versions over the past week.

Simulationcraft is crashing dxdiag file -
[DxDiag.txt](https://github.

[2017-03-16 15:38] nuoHep commented on #3625
I'm like 99.5% sure this hits our Dire Beast maximum count (which is 8 atm) bacause that's Mantle + OwtP. Will have to bump it to 10 or so.

[2017-03-16 16:36] Emowyn commented on #3625
oh right, thank you so much for the speedy reply, I'm new to this and was worried i'd done something wrong, Cheers, have a fab day o/

[2017-03-16 19:17] Sinnoh commented on #3613
Same thing happens for paladins (Retribution). Tested in SimulationCraft 715-02, git build 3eb4aac;

[2017-03-17 03:33] supermonteiro opened #3627 "Moved to SSD, simcraft wont start, gives no error"
Please include a brief overview of the issue in the title above, as well as completing the following:

#### Simulationcraft Version - SimcSetup-715-01-Win64

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-Files

#### simc_gui.simc file or contents - not generated
This file is saved in the same fol

[2017-03-17 07:43] #3573 closed, assigned to nobody

[2017-03-17 07:44] #3561 closed, assigned to Collisionc

[2017-03-17 08:41] #3587 closed, assigned to nobody

[2017-03-17 08:41] scamille commented on #3587
There was a div by zero in the DH module. Our json printer do not like to print NAN it seems.

[2017-03-17 08:53] #3510 closed, assigned to nobody

[2017-03-17 08:54] #3218 closed, assigned to nobody

[2017-03-17 15:45] SagepathSReinhardt commented on #3622
I am unable to replicate this.

[2017-03-17 15:46] Zarania commented on #3622
I am unable to replicate this.

[2017-03-17 16:21] dortmonger commented on #3622
i did a git pull again last night and the problem has gone away. thanks for your reply

[2017-03-17 16:21] #3622 closed, assigned to nobody

[2017-03-17 19:29] jcadduono opened #3628 "Armory import fails built on latest Debian Testing packages"
Importing characters from the armory is failing but only when building from sources. (prebuilt/nightly packages work) I could use some help debugging this if it is only happening for me.

It was working fine importing 2 days ago, and the only thing I had done since was `apt-get dist-upgrade` followed by a rebuild on latest simc git tag - however, it does not look like any packages upgraded were re

[2017-03-18 17:13] YesonW opened #3629 "about the relic level"
this version can't read the real relic level！！！

#### Simulationcraft7.1.5

#### If Simulationcraft is crashing, please include your dxdiag file - Instructions here - https://us.battle.net/support/en/article/Obtaining-System-Files

#### simc_gui.simc file or contents
DPS Ranking:
 736751 100.0%  Raid
 736751  100.0%  崇髙的幻象

HPS Ranking:
      0 100.0%  Raid

Player: 崇髙的幻象 blood_elf demonhunter hav

[2017-03-19 11:18] navv1234 commented on #3498
This should be now fixed, as of a34d0bf49.

[2017-03-19 11:18] #3498 closed, assigned to navv1234

[2017-03-19 20:44] Heanthor opened #3630 "Make talents= consistent with wow armory"
#### Simulationcraft Version

Most recent, 715-02 bdd3ba8

#### simc_gui.simc file or contents
Doesn't appear to happen in GUI..

#### Reproduction Steps:
On Windows 10, the TCI string I'm using to trigger this is "armory=US,Fizzcrank,Thanaton spec=elemental talents=0001220 fight_style=HecticAddCleave". I get an infinite loop of errors such as

[code]
forcing me to ctrl-C.

Tried with another sham

[2017-03-20 01:42] TechDevJorge commented on #3608
bump

[2017-03-20 01:48] Collisionc commented on #3608
Sorry, I thought you meant that it did fix the issue earlier.

Does the browser Chrome run on your system without any issues?

[2017-03-20 08:21] nezorflame opened #3631 "can't build simc on current commit"
trying to build from source on Debian on commit https://github.com/simulationcraft/simc/commit/81a8e394b1cc874c62aa6a30814bf033f802864f

log output:
[code]